In [ ]:
!python -V
!pip show jupyterlab pandas plotly cufflinks seaborn openpyxl itables lxml pyarrow pip

# <center>**LIBRERIAS Y FUNCIONES**</center>

In [1]:
# garbage colector para liberar recursos de variables usadas
import gc as garbage_colector

# ocultar los warnings
import warnings
warnings.filterwarnings('ignore')


import pandas as pd
# configura el maximo de filas y columnas a mostrar en el dataframe, en este caso TODAS LAS FILAS Y COLUMNAS
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# muestra todo el contenido de la fila en el dataframe por muy extenso que sea el contenido
pd.set_option('display.max_colwidth', None)


import random
import numpy as np

# configura las tablas interactivas
#from itables import init_notebook_mode

#init_notebook_mode(all_interactive=True)

# importa las funciones para crear los dataframes de los archivos locales
from utilidades import crear_dataframes, join_dataframe

df1, df2, df3 = crear_dataframes(limite_muestra = 100)

# <center>**LEER ARCHIVOS Y CONVERTIRLOS EN DATAFRAME**</center>

# <center>**JSON**</center>

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/json_dataframe.json'
json = pd.read_json(archivo)
json

# <center>**CSV**</center>

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/csv_dataframe.csv'
csv = pd.read_csv(archivo)
csv

# <center>**EXCEL**</center>

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/excel_dataframes.xlsx'
pd.read_excel(archivo, engine="openpyxl")

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/excel_dataframes.xlsx'
excel = pd.read_excel(archivo, engine="openpyxl", sheet_name='dataframe_3')
excel

# <center>**HTML**</center>

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/html_dataframe.html'
pd.read_html(archivo, encoding="UTF-8")[0]

# <center>**PARQUET**</center>

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/parquet_dataframe.parquet'
pd.read_parquet(archivo)

# <center>LIBERAMOS LOS RECURSOS USADOS POR LOS CONTENIDOS DE LAS VARIABLES QUE YA NO SE VAN A USAR**</center>

In [ ]:
df1, df2, df3 = json, csv, excel
del excel
del csv
del json
del archivo
garbage_colector.collect(), garbage_colector.get_threshold()

# <center>GUARDAR DATAFRAME A **JSON, CVS, EXCEL, HTML, PARQUET**</center>

In [ ]:
df1.to_json('archivos/json_dataframe.json', orient ='records', indent=2)
df2.to_csv('archivos/csv_dataframe.csv', index=False)
df3.to_excel('archivos/excel_dataframe.xlsx', index=False, sheet_name='dataframe_1')
df1.to_html('archivos/html_dataframe.html', index=False)
df2.to_parquet('archivos/parquet_dataframe.parquet', index=False)

## <center>**PRINT VS DISPLAY**</center>

In [ ]:
print(df1, df2)

In [ ]:
display(df1, df2)

# <center>**SERIES VS DATAFRAME**</center>
### <center>**LAS SERIES ACTUAN COMO UNA LISTA CON INDICES UNIDIMENSIONALES ASOCIADOS A UNA COLUMNA**</center>
<center><img src="series_vs_dataframes.png"/></center>

In [ ]:
materias = ['Matemáticas','Economía','Programación','Deportes','Artes']
notas = [6.0, 10, 8.5, 10, 9.3]
pd.Series(materias)

In [ ]:
pd.Series(notas)

### <center>**DEFINIENDO EL INDICE Y EL NOMBRE DE LA COLUMNA**</center>

In [ ]:
pd.Series(data=notas, index=materias)

In [ ]:
pd.Series(data=notas, index=materias, name='Nota')

### <center>**USANDO DICCIONARIOS**</center>

In [ ]:
serie = pd.Series(data={'Matemáticas': 6.0,  'Economía': 10, 'Programación': 8.5, 'Deportes': 10, 'Artes': 9.3}, name='Nota')
print(type(serie))
serie

### <center>**USANDO COLUMNAS DE DATAFRAMES**</center>
#### <center>**INDEX COMO UNA SOLA COLUMNA DE UN DATAFRAME Y COLUMNA COMO LISTA**</center>

In [ ]:
colores= {'AMARILLO':[1,None,2,3,None,3,4,None,None,1],
'AZUL':[5,None,None,None,None,10,15,20,25,None],
'ROJO':[2,None,5,10,15,20,7,31,None,None],
'VERDE':[4,None,None,None,None,None,None,None,None,None],
'ROSADO':[3,6,9,12,15,18,21,24,27,30]}

for key, value in colores.items():
    print(key, len(value), value)
    
df_colores = pd.DataFrame(colores)
df_colores

In [ ]:
pd.Series(index=df_colores.AZUL, data=df_colores.ROSADO.to_list(), name='VALORES DE ROSADO')

### <center>**COLUMNA DE DATAFRAME A SERIE**</center>

In [ ]:
df_colores.AMARILLO

### <center>**FILA DE DATAFRAME A SERIE**</center>

In [ ]:
df_colores

In [ ]:
df_colores.loc[0]

In [ ]:
df_colores.iloc[0]

### <center>**CONVERTIR SERIE A DATAFRAME**</center>

In [ ]:
#salto de linea con el simbolo '\' inmediantamente despeus del ultimo caracter de la linea
df_colores.loc[0]\
                .to_frame()\
                .rename({0:'Total Valores Nulos'}, axis='columns')

In [ ]:
df_colores.iloc[0]\
                .to_frame(name='Total Valores Nulos')

### <center>VALIDAR VALORES ENTRE UN RANGO ESPECIFICO **BETWEEN**</center>

In [ ]:
display(df_colores.iloc[0].to_frame())
df_colores.iloc[0]\
                .between(left=1,right=4)\
                .to_frame()

In [ ]:
# pone como falsos los valores de los limites
df_colores.iloc[0]\
                    .between(left=1,right=4,  inclusive="neither")\
                    .to_frame()

### <center>EXTRAER VALORES DE UNA LISTA Y DEJARLO EN VALOR POR FILA EN UN DATAFRAME **EXPLODE**</center>

In [ ]:
pd.Series([1, 6, 7, [46, 56, 49], 45, [15, 10, 12]])\
                                                    .to_frame("valores en listas")

In [ ]:
# se debe declarar el nombre de la columna a separar para extraer los datos de las listas
pd.Series([1, 6, 7, [46, 56, 49], 45, [15, 10, 12]])\
                                                    .to_frame("valores en listas")\
                                                    .explode(column="valores en listas", ignore_index=True)

### <center>**ATRIBUTOS DE LAS SERIES**</center>

In [ ]:
serie.shape

In [ ]:
serie.size

In [ ]:
serie.dtype

In [ ]:
serie.index

In [ ]:
serie.values

In [ ]:
serie.value_counts()

In [ ]:
serie.sort_index(ascending=False)

# <center>**ACCESO A DATOS DE LAS SERIES**</center>

### <center>**POR INDICE**</center>

In [ ]:
serie.to_frame()

In [ ]:
serie['Deportes']

In [ ]:
serie.Deportes

In [ ]:
serie[3]

### <center>**POR RANGO ENTRE INDICES**</center>

In [ ]:
display(serie)
print()
serie['Programación':'Artes']

In [ ]:
serie[2:5]

### <center>**POR INDICES ESPECIFICOS**</center>

In [ ]:
serie[['Matemáticas','Programación','Artes']]

In [ ]:
serie[[0,2,4]]

### <center>**ANALISIS DE DATOS**</center>

In [ ]:
serie

In [ ]:
# argmax posicion o indice donde encontro el valor maximo
serie.max(), serie.argmax()

In [ ]:
serie.min(), serie.argmin()

In [ ]:
serie.quantile(0.25), serie.quantile(0.5), serie.mean(), serie.median(), serie.mode()

In [ ]:
serie.std(), serie.sum(), serie.count(), serie.abs()

In [ ]:
serie.describe()

In [ ]:
display(serie)
serie.plot()

# <center>DATAFRAMES</center>
## <center>OBTENER LOS TAMAÑOS DE UN DATAFRAME</center>

In [ ]:
print(f'Cantidad de filas y columnas {df_colores.shape}')
print(f'Cantidad de filas {df_colores.shape[0]}')
print(f'Cantidad de columnas {df_colores.shape[1]}')
df_colores

# <center>**OBTENER EL RESUMEN DE LAS COLUMNAS DE UN DATAFRAME**</center>
## <center>**SOLO VALORES NO NULL**</center>

In [ ]:
df_colores.info()

In [ ]:
df_colores.describe()

# <center>OBTENER LA DEFINICION DE LOS EJES DE UN DATAFRAME</center>

In [ ]:
df_colores.axes

# <center>OBTENER LOS NOMBRES DE LAS COLUMNAS DE UN DATAFRAME</center>

In [ ]:
df_colores.columns.to_list()

In [ ]:
list(df_colores.keys())

# <center>OBTENER LOS DATOS COMPLETOS DE UNA **COLUMNA** DE UN DATAFRAME</center>

In [ ]:
df_colores.AMARILLO

In [ ]:
df_colores.AMARILLO.to_frame('AMARILLO')

In [ ]:
df_colores['AMARILLO'].to_frame('AMARILLO')

In [ ]:
df_colores.AMARILLO.values

In [ ]:
df_colores.AMARILLO.to_list()

# <center>**OBTENER LOS VALORES 'DISTINTOS' UNICOS(SIN REPETIR) DE UNA FILA** UNIQUE - NUNIQUE</center>

In [ ]:
print(df_colores.AMARILLO.unique())
df_colores

## **NUNIQUE** obtiene el total de datos unicos incluso de TODO EL DATAFRAME

### POR COLUMNA

In [ ]:
df_colores.AMARILLO.nunique()

In [ ]:
df_colores.AMARILLO.nunique(dropna=False)

### TODO EL DATAFRAME

In [ ]:
df_colores.nunique(dropna=False)

In [ ]:
df_colores.nunique()

# Total valores unicos por FILA, incluyendo NaN

In [ ]:
display(df_colores.reset_index())
display(df_colores\
        .nunique(axis=0)\
        .reset_index(name='Total por fila Excluyendo Null'))

display(df_colores\
        .nunique(axis=0, dropna=False)\
        .reset_index(name='Total por fila Incluyendo Null'))

# Total valores unicos por COLUMNA, incluyendo NaN

In [ ]:
display(df_colores.reset_index())
display(df_colores\
        .nunique(axis=1)\
        .reset_index(name='Total por fila Excluyendo Null'))

display(df_colores\
        .nunique(axis=1, dropna=False)\
        .reset_index(name='Total por fila Incluyendo Null'))

# <center>**CONTAR VALORES NOT NULL DE UNA COLUMNA**</center>

In [ ]:
print(df_colores.AMARILLO.values)
df_colores\
        .AMARILLO\
        .value_counts()

# <center>**REEMPLAZAR VALORES DE UNA COLUMNA POR EMOJIS**</center>

In [ ]:
diccionario = {'uva':'🍇','manzana':'🍎','aguacate':'🥑','pizza':'🍕','perro':'🌭','taco':'🌮','huevo':'🥚',
               'cupcake':'🧁','croissant':'🥐','hamburguesa':'🍔','Pretzel':'🥨',}
dataframe_emojis = pd.DataFrame({'a':['uva','manzana','cupcake','pizza','aguacate','perro','taco','guama','huevo','croissant','hamburguesa','pretzel'], 
                  'b':['uva','manzana','cupcake','pizza','aguacate','perro','taco','guama','huevo','croissant','hamburguesa','pretzel']})
dataframe_emojis = dataframe_emojis.replace({'b':diccionario})
dataframe_emojis

### APLICA A CADENAS DE TEXTO

In [ ]:
cadena_emojis = 'HELADO'
print(cadena_emojis)
cadena_emojis.replace('HELADO','🍨')

In [ ]:
del dataframe_emojis
del cadena_emojis
garbage_colector.collect(), garbage_colector.get_threshold()

# <center>**OBTENER LOS n VALORES MAXIMOS O MINIMOS DE UNA COLUMNA**</center>

### LOS MAYORES

### todo el dataframe

In [ ]:
display(df_colores)
df_colores.nlargest(n=2, columns=['AMARILLO'], keep='first')

### columna especifica del dataframe

In [ ]:
df_colores\
        .AMARILLO\
        .nlargest(n=3)

### LOS MENORES
#### EXTRACCION USANDO MULTIPLES COLUMNAS

In [ ]:
df_menores = pd.read_csv('menores.csv').sort_values('AMARILLO')
df_menores

In [ ]:
display(df_menores.nsmallest(2, columns=['AMARILLO','AZUL'], keep='last'))
del df_menores
garbage_colector.collect(), garbage_colector.get_threshold()

# <center>**RESALTAR VALORES NUMERICOS DE UN DATAFRAME SEGUN SU PORCENTAJE EN VALOR**</center>

### crear dataframe de diccionario

In [ ]:
insight = {
'Uno':[random.randint(1, 11) * 3 for valor in range(10)],
'Dos':[random.randint(1, 11) * 7 for valor in range(10)],
'Tres':[random.randint(1, 11) * 5 for valor in range(10)],
'Cuatro':[random.randint(1, 11) * 31 for valor in range(10)],
'Cinco':[random.randint(1, 11) * 13 for valor in range(10)],
}

df_estilo_colores = pd.DataFrame.from_dict(insight)
df_estilo_colores

### intensidad por FILA

In [ ]:
df_estilo_colores\
                 .style\
                 .background_gradient(axis=1, cmap="YlOrRd")

### intensidad por COLUMNA

In [ ]:
df_estilo_colores\
                .style\
                .background_gradient(axis=0, cmap="YlOrRd")

### intensidad por todos los datos

In [ ]:
df_estilo_colores\
                .style\
                .background_gradient(axis=None, cmap="YlOrRd")

### intensidad modulada

In [ ]:
df_estilo_colores\
                .style\
                .background_gradient(axis=None, cmap="YlOrRd", low=0.25, high=1.0)

### intensidad del color definida para cada elemento de una fila

In [ ]:
valores = [[random.randint(1,5) for valor in range(df_estilo_colores.shape[1])] for x in range(df_estilo_colores.shape[0])]
print(valores)
df_estilo_colores\
                .style\
                .background_gradient(axis=None, cmap="YlOrRd", low=0.25, high=1.0, gmap=np.array(valores))

### resaltar valores maximos y minimos de una fila o columna

In [ ]:
df_estilo_colores\
                .style\
                .highlight_max(color="lightblue")

In [ ]:
df_estilo_colores\
                .style\
                .highlight_max(axis=1,color="lightyellow")

In [ ]:
df_estilo_colores\
                .style\
                .highlight_min(color="lightgreen", axis=0)

In [ ]:
df_estilo_colores\
                .style\
                .highlight_min(color="pink", axis=None)

In [ ]:
# se pueden adicionar color en Hexadecimal
# https://www.computerhope.com/htmcolor.htm
df_estilo_colores\
                .style.\
                highlight_max(color="#D462FF", axis=None)

## resaltar valores entre el rango

In [ ]:
df_estilo_colores\
                .style\
                .highlight_between(left=15, right=31, color='aquamarine')

## resaltar la fila numero ?

In [ ]:
df_estilo_colores\
                .style\
                .highlight_quantile(8, color='#DCD0FF')

## resaltar los valores nulos

In [ ]:
df_colores\
        .style\
        .highlight_null(color='pink')

## resaltar los valores que cumplan la condicion basado en una funcion lambda
### del valor localizado en una poscion especifica en la matriz en este caso [0,0]

In [ ]:
#Conditionally format Python pandas cell
df_estilo_colores\
                .style\
                .applymap(lambda x: 'background-color : yellow' if x//2 > df_estilo_colores.iloc[0,0] else '')

In [ ]:
df_estilo_colores\
                .style\
                .applymap(lambda x: 'background-color : yellow' if x//2 > df_estilo_colores.iloc[3,4] else '')

## resaltar los valores especificos usando una funcion lambda con multiples condiciones

In [ ]:
df_estilo_colores\
                .style\
                .applymap(lambda x: 'background-color : yellow' if x == 21 or x> 300 else '')

### MULTIPLES CONDICIONES EN TODO EL DATAFRAME

In [ ]:
rando = random.choice(df_estilo_colores.sample(1).min())

print(rando)
df_estilo_colores\
                .style\
                .applymap(lambda x :'background-color : aquamarine' if df_estilo_colores.max().max() == x  else '')\
                .applymap(lambda x :'background-color : #DCD0FF' if df_estilo_colores.min().min() == x  else '')\
                .applymap(lambda x :'background-color : lightblue' if x%13 == 0 and x%4 == 0 else '')

# <center>REEMPLAZAR VALORES QUE NO CUMPLAN CON EL CRITERIO USANDO **MASK**</center>

### TODO EL DATAFRAME

In [ ]:
display(df_estilo_colores)
df_estilo_colores\
            .mask(df_estilo_colores > 50, -25)\
            .style\
            .applymap(lambda x: 'background-color : yellow' if x == -25 else '')

### COLUMNA ESPECIFICA DEL DATAFRAME

In [ ]:
display(df_estilo_colores)
df_estilo_colores\
                .Uno\
                .mask(cond=~df_estilo_colores["Uno"].between(1, 15), other='FUERA DEL RANGO')\
                .to_frame()

### OBTENER EL VALOR MAXIMO DE TODO EL DATAFRAME

In [ ]:
df_estilo_colores.max()

In [ ]:
df_estilo_colores.max().max()

### OBTENER EL VALOR MINIMO DE TODO EL DATAFRAME

In [ ]:
df_estilo_colores.min()

In [ ]:
df_estilo_colores.min().min()

In [ ]:
df_estilo_colores.min().max()

# <center>PREPROCESAR DATAFRAME CON MULTIPLES PASOS USANDO **PIPE**</center>

In [ ]:
def filtrar(dataframe, limite_filtro):
    print(f'Antes de Filtrar hasta el {limite_filtro}')
    display(dataframe)
    
    return dataframe.loc[:limite_filtro]

def multiplicar(dataframe, valor):
    
    print(f'Antes de Multiplicar por {valor}')    
    display(dataframe)
    
    return dataframe * valor


def resaltar(dataframe, valor):
    
    print(f'Antes de Resaltar mayores a {valor}')
    display(dataframe)
    
    return dataframe.style.applymap(lambda x: 'background-color : yellow' if x > valor else '')
    
def graficar(dataframe):
    
    print('Antes de graficar')
    dataframe.plot()
    
    return dataframe

print('dataframe original')
display(df_estilo_colores)
print('dataframe con lambda aplicada que es duplicar')
df_estilo_colores.loc[0:10]\
                        .pipe(lambda pipe: pipe * 2)\
                        .pipe(filtrar, limite_filtro=3)\
                        .pipe(multiplicar, 10)\
                        .pipe(graficar)\
                        .pipe(resaltar, 500)

# <center>CONVERTIR DATOS CATEGORICOS O CADENAS A REPRESENTACION NUMERICA LabelEncoder **FACTORIZE**</center>

In [ ]:
df_cat = df1.head(10)

display(df_cat)

# convierte los valores de la columna Anfibios a representacion numerica
display(pd.factorize(df_cat["Anfibios"]))
print()
# obtiene solo la representacion numerica
display(pd.factorize(df_cat["Anfibios"])[0])
# obtiene los indices originales que fueron convertidos a numericos
display(pd.factorize(df_cat["Anfibios"])[1])

In [ ]:
indices_generados = list(pd.factorize(df_cat["Anfibios"])[0])
# elimina los indices duplicados, entonces no se puede usar pd.factorize(df_cat["Anfibios"])[1] para extraer los labels originales
indices_originales = list(df_cat.Anfibios)
pd.DataFrame({'indices_originales':indices_originales,'indices_generados':indices_generados})

# <center>**CONTAR VALORES NOT NULL DE UNA COLUMNA Y LISTAR LOS n VALORES REQUERIDOS DE MAYOR A MENOR o DE MENOR A MAYOR**</center>

### <center>**LISTAR LOS n PRIMEROS VALORES REQUERIDOS Y LISTARLOS DE MAYOR A MENOR**</center>

In [ ]:
df1\
    .Anfibios\
    .value_counts()\
    .to_frame()

In [ ]:
df1\
    .Anfibios\
    .value_counts()\
    .head(3)\
    .to_frame()

In [ ]:
df1\
    .Anfibios\
    .value_counts()\
    .head(10)\
    .to_frame()

### <center>**LISTAR LOS n ULTIMOS VALORES REQUERIDOS Y LISTARLOS DE MAYOR A MENOR**</center>

In [ ]:
df1\
    .Anfibios\
    .value_counts()\
    .tail(10)\
    .to_frame()

### <center>**OBTENER LA LISTA CON LOS 'INDICES' VALORES DE LOS n PRIMEROS o ULTIMOS VALORES REQUERIDOS DE MAYOR A MENOR o DE MENOR A MAYOR**</center>

In [ ]:
df1\
    .Anfibios\
    .value_counts()\
    .head(10)\
    .index.\
    to_list()

In [ ]:
df1\
    .Anfibios\
    .value_counts()\
    .tail(10)\
    .index.\
    to_list()

### <center>**OBTENER LA LISTA CON LOS 'VALORES' DE LOS n PRIMEROS o ULTIMOS VALORES REQUERIDOS DE MAYOR A MENOR o DE MENOR A MAYOR**</center>

In [ ]:
list(df1\
         .Anfibios\
         .value_counts()\
         .head(10)\
         .values
    )

In [ ]:
list(df1\
         .Anfibios\
         .value_counts()\
         .tail(10)\
         .values
    )

### <center>**CONOCER EL TIPO DE DATOS DE CADA COLUMNA EN UN DATAFRAME Y ELIMINAR O SELECCIONAR LAS COLUMNAS BASADO EN EL TIPO DE DATO**</center>
<center><img src="pandas_data_types.png"/></center>

In [ ]:
df1.dtypes

### CONVERTIR LAS COLUMNAS A UN TIPO DE DATO ESPECIFICO

In [ ]:
df1.Peces = df1.Peces\
                    .astype("category")
    
df1['Id'] = df1.Id\
                    .astype("float")
df1.dtypes

### CONVERTIR LOS TIPOS DE DATOS GENERICOS A TIPO DE DATO CORRESPONDIENTE

In [ ]:
df1 = df1\
        .convert_dtypes()
df1.dtypes

# Seleccionar solo las columnas con estos tipos de datos

In [ ]:
df1\
    .select_dtypes(include=['int64'])\
    .columns.to_list()

# Eliminar columnas con diferentes tipos de datos

In [ ]:
df1\
    .select_dtypes(exclude=['int64'])\
    .columns.to_list()

In [ ]:
pd.DataFrame(df1, columns=df1\
    .select_dtypes(exclude=['int64'])\
    .columns.to_list())\
    .head()

## <center>**GENERAR DATAFRAME Y PERSONALIZAR INDICES BASADOS EN COLUMNAS**</center>

In [ ]:
dfx = df1
dfx.head()

# Indice Sencillo

In [ ]:
from math import ceil

nombres_columnas = dfx.select_dtypes(exclude=['int64']).columns.to_list()
indice_aleatorio = random.choice(nombres_columnas)
multiples_indices_aleatorios = random.sample(nombres_columnas, ceil(len(nombres_columnas)/2))


dfx_1 = dfx\
            .set_index(indice_aleatorio)

print(f'indice_aleatorio -> {indice_aleatorio}')
print(f'multiples_indices_aleatorios -> {multiples_indices_aleatorios}')
dfx_1.head()

# Indice Multiple

In [ ]:
#init_notebook_mode(all_interactive=False)
print(f'multiples_indices_aleatorios -> {multiples_indices_aleatorios}')


dfx_2 = dfx\
            .set_index(multiples_indices_aleatorios)\
            .sort_values(multiples_indices_aleatorios)
dfx_2

In [ ]:
def extraer_los_elementos_de_una_posicion_especifica_de_una_lista_de_tuplas(dataset, posicion_especifica=0):
    
    listado_de_indices = dataset.index.to_list()
    indices_principales = list(set(list(zip(*listado_de_indices))[posicion_especifica]))
    
    return indices_principales

# obtiene el listado con los valores del primer indice
print(extraer_los_elementos_de_una_posicion_especifica_de_una_lista_de_tuplas(dfx_2, posicion_especifica=0))

## <center>CONSULTAR RAPIDA BASADA EN INDICES CON **XS CROSS SECTION** BASADO EN EL ORDEN Y LOS VALORES DE LOS INDICES</center>

In [ ]:
def listar_elementos_por_indice_sin_repetir(dataset):
    
    columnas_dataset = dataset.columns.to_list()
    
    # obtiene la lista con el contenido de una de las columnas de dataframe ya que es aleatoria la seleccion
    indices_aleatorios = list(dataset.to_dict()[random.choice(columnas_dataset)].keys())
    
    # selecciona una tupla aleatoria y se toman como referencia para la busqueda con los indices
    return random.choice(indices_aleatorios)
   
# nombres de los valores dentro de los indices con que se va a filtrar
consultar_valor_indice_0, consultar_valor_indice_1, consultar_valor_indice_2 = listar_elementos_por_indice_sin_repetir(dfx_2)

# nombres de las indices que tiene el dataframe
nombre_indice_0, nombre_indice_1, nombre_indice_2 = tuple(multiples_indices_aleatorios)

display(dfx_2)

valor_indices = f'multiples_indices_aleatorios = {multiples_indices_aleatorios}\
                                                                                nombre_indice_0 = {nombre_indice_0} , nombre_indice_1 = {nombre_indice_1}, nombre_indice_2 = {nombre_indice_2}\
                                                                                consultar_valor_indice_0 = {consultar_valor_indice_0}, consultar_valor_indice_1 = {consultar_valor_indice_1}, consultar_valor_indice_2 = {consultar_valor_indice_2}'

In [ ]:
print(valor_indices)

# doble parentesis
dfx_2\
    .xs((consultar_valor_indice_0))

In [ ]:
print(valor_indices)
# usando el nombre del parametro
dfx_2\
    .xs(key = consultar_valor_indice_0)

# CONSULTA MULTI INDICE

In [ ]:
print(valor_indices)
dfx_2\
    .xs(key =(consultar_valor_indice_0, consultar_valor_indice_1))

In [ ]:
# debe respetarse el orden de los indices sino genera una excepcion
dfx_2\
    .xs(key =(consultar_valor_indice_1, consultar_valor_indice_0))

## <center>ACCESO POR NIVEL DE LOS INDICES</center>

In [ ]:
columnas_ordenamiento = random.sample(dfx_2.columns.to_list(), ceil(len(dfx_2.columns.to_list())/2))
print(columnas_ordenamiento)
print(valor_indices)

dfx_2\
    .sort_values(columnas_ordenamiento)

## Ubicacion del indice en el dataframe

In [ ]:
print(valor_indices)

# trae la info asociada al valor declarado del indice 2 de la lista, 
# por eso el 'level' debe ser igual a la ubicacion del indice
dfx_2\
    .xs(consultar_valor_indice_2 , level=2)

In [ ]:
print(valor_indices)

dfx_2\
    .xs((consultar_valor_indice_2 ,consultar_valor_indice_0), level=[2,0])

## ubicacion o nombres del indice en el dataframe

In [ ]:
print(valor_indices)

dfx_2\
    .xs((consultar_valor_indice_2, consultar_valor_indice_0), level=[2,nombre_indice_0])

In [ ]:
print(valor_indices)

dfx_2\
    .xs((consultar_valor_indice_0,consultar_valor_indice_2), level=[nombre_indice_0, nombre_indice_2])

## <center>MANTENER LOS INDICES Y FILTRAR SOLO LA COLUMNA DE INTERES Y CONVERTIR LA SERIE A DATAFRAME</center>

In [ ]:
# se debe declarar el eje de filtrado
dfx_2\
    .xs('Id', axis=1).to_frame()

In [ ]:
display(dfx_2\
            .xs('Lider', axis=1)\
            .to_frame())

# RECUPERAR O CONVERTIR UN DATASET CON INDICES EN FORMA TABULAR DEL DATASET **RESET INDEX**

In [ ]:
display(dfx_2.reset_index())
del dfx_2
del dfx_1
garbage_colector.collect(), garbage_colector.get_threshold()

# <center>**CONTAR VALORES NULL DE UN DATAFRAME**</center>

## <center>**AGRUPADO POR COLUMNAS NULL DE UN DATAFRAME**</center>

In [ ]:
display(df_colores)
df_colores\
            .isna()\
            .sum()\
            .to_frame()

## <center>**TOTAL DE TODAS LAS FILAS Y COLUMNAS NULL DE UN DATAFRAME**</center>

In [ ]:
df_colores\
            .isna()\
            .sum()\
            .sum()

### <center>**reset_index PARA PERSONALIZAR EL NOMBRE DE COLUMNA QUE AGRUPA EL RESULTADO**</center>

In [ ]:
df_colores.\
            isna()\
            .sum()\
            .reset_index()\
            .rename({0:'Total Valores Nulos'}, axis='columns')

In [ ]:
df_colores\
            .isna()\
            .sum()\
            .reset_index(name ='Total Valores Nulos')

### <center>**PERSONALIZAR NOMBRE DEL INDICE dataframe.index.name**</center>

In [ ]:
indice_personalizado = df_colores\
                                .isna()\
                                .sum()

indice_personalizado.index.name = 'Colores'
indice_personalizado.reset_index(name ='Total Valores Nulos')

# <center>**CONTAR VALORES NULL Y NOT NULL DE UNA COLUMNA**</center>

In [ ]:
df_colores.AMARILLO

In [ ]:
df_colores.AMARILLO.isna().value_counts()

In [ ]:
df_colores.AMARILLO.value_counts()

## <center>**ELIMINA TODAS LAS FILAS CON AL MENOS UN VALOR NULL**</center>

In [ ]:
display(df_colores)
df_colores.dropna()

## <center>**ELIMINA TODAS LAS COLUMNAS CON AL MENOS UN VALOR NULL**</center>

In [ ]:
df_colores.T

In [ ]:
df_colores.T.dropna().T

# <center>**OBTENER DATAFRAME FILTRADO CON MULTIPLES COLUMNAS**</center>

In [ ]:
# corchete sencillo genera una serie,
df1['Id']

In [ ]:
# con to_frame() lo convierte a dataframe
df1['Id'].to_frame()

In [ ]:
# docble corchete para dataframe
df1[['Id']]

In [ ]:
df1[['Id','Lider']]

# <center>ADICIONAR **FILAS NUEVAS** A UN DATAFRAME</center>

### <center>**USANDO APPEND DICCIONARIO**</center>

In [ ]:
dataframe_to_filter = df2.head()
dataframe_to_filter

In [ ]:
# no puede tener columnas con el mismo nombre
diccionario = dataframe_to_filter\
                                .loc[3]\
                                .to_dict()

print(diccionario)
dataframe_to_filter.append(diccionario, ignore_index=True)

In [ ]:
e = [1,2,3]
f = [0,5,7]
e.append(f)
e

### <center>**LISTA DE DICCIONARIOS**</center>

In [ ]:
lista_diccionarios = [dataframe_to_filter.loc[1].to_dict(),\
                      dataframe_to_filter.loc[2].to_dict(),\
                      dataframe_to_filter.loc[3].to_dict()]
dataframe_to_filter.append(lista_diccionarios, ignore_index=True)

### <center>**DECLARANDO Y CREANDO UN NOMBRE O VALOR DE INDICE ESPECIFICO COMO VALOR DE LA FILA**</center>

In [ ]:
dataframe_to_filter.loc[0.5] = [chr(valor + 64) for valor in range(dataframe_to_filter.shape[1])]
dataframe_to_filter.loc[0.7] = [chr(valor + 84) for valor in range(dataframe_to_filter.shape[1])]
dataframe_to_filter

### <center>**USANDO EL INDICE EN LA ULTIMA POSICION PARA INSERTAR LA FILA**</center>

In [ ]:
# calcula la ultima posicion conociendo el tamano del dataframe len(dataframe_to_filter)
lista_a_insertar = [chr(valor + 104) for valor in range(dataframe_to_filter.shape[1])]
print(lista_a_insertar)

# len(dataframe_to_filter) OBTIENE EL TAMANO DEL DATAFRAME PARA UBIRCARLO EN LA ULTIMA POSICION
dataframe_to_filter.loc[len(dataframe_to_filter)] = lista_a_insertar
dataframe_to_filter = dataframe_to_filter.sort_index(ascending=True)
dataframe_to_filter

# <center>ADICIONAR **NUEVAS COLUMNAS** A UN DATAFRAME</center>

In [ ]:
# se adicionan como la ultima columna
dataframe_to_filter['nueva columna'] = [chr(valor + 33) for valor in range (dataframe_to_filter.shape[0])]
dataframe_to_filter

## <center>**ASSIGN** ADICIONA COLUMNA EN LA ULTIMA POSICION</center>

### <center>**LAMBDA**</center>

In [ ]:
df3.assign(temporal=lambda x: x.Id * x.Lider)

### <center>**MULTPLES LAMBDA O COLUMNAS DEL DATAFRAME**</center>

In [ ]:
df3.Carnívoros.to_frame()

In [ ]:
def unir(row):
    
    return row.Mamíferos + ' y ' + row.Ovíparos
    

df3.assign(temporal_multiple=lambda x: x.Id * x.Lider, mamiferos_oviparos=unir, hervi_carnivoros= df3.Herbívoros + ' ' + df3.Carnívoros)

### <center>**INSERT COLUMNA DATAFRAME EN LA UBICACION QUE SE QUIERA DE MANERA PERMANENTE**</center>

In [ ]:
df3.insert(0, "insertada", [valor*valor for valor in range(df3.shape[0])])
df3

### <center>**NO SE INSERTA UNA NUEVA COLUMNA EN EL DATAFRAME CON EL MISMO NOMBRE SI NO SE ESPECIFICA LA OPCION DE DUPLICADO**</center>

In [ ]:
df3.insert(0, "insertada", [valor*valor for valor in range(df3.shape[0])])
df3

In [ ]:
df3.insert(0, "insertada", [valor*valor*valor + 5 for valor in range(df3.shape[0])], allow_duplicates=True)
df3

In [ ]:
df3.insert(3, "insertada", [valor*valor*valor + 5 for valor in range(df3.shape[0])], allow_duplicates=True)
df3

### <center>ADICIONA COLUMNA EN LA ULTIMA POSICION</center>

In [ ]:
df3.insert(df3.shape[1], "ULTIMA POSICION", df3.Carnívoros + ' ' + df3.Omnívoros, allow_duplicates=True)
df3

# <center>**CREAR DATAFRAME DE OTRO DATAFRAME**</center>

### <center>**NO SE PUEDE CREAR UN NUEVO DATAFRAME DE OTRO DATAFRAME SI TIENE COLUMNAS REPETIDAS**</center>

In [ ]:
display(df3.head())
pd.DataFrame(df3, columns=['Id','Lider'])

In [ ]:
pd.DataFrame(df2, columns=['Id','Lider']).head()

### <center>**SOLO SE PUEDE CREAR UN NUEVO DATAFRAME DE OTRO DATAFRAME SI TIENE COLUMNAS REPETIDAS USANDO DOBLE CORCHETE**</center>

In [ ]:
pd.DataFrame(df3[['insertada','Lider']]).head()

# <center>**ORDENAR DATAFRAME BASADO EN LOS VALORES DE COLUMNAS**</center>

### de mayor a menor valor

In [ ]:
df1.sort_values(by=['Lider','Id'], ascending=True)[0:10]

### de menor a mayor valor

In [ ]:
df1.sort_values(by=['Lider','Id'], ascending=False)[0:10]

### una columna por menor valor y otra por mayor valor

In [ ]:
df1.sort_values(by=['Lider','Id'], ascending=[True,False])[0:10]

# <center>**CONVERTIR A MAYUSCULAS, MINUSCULAS O TITULO LOS VALORES DE UNA COLUMNA**</center>

In [ ]:
df1.Mamíferos.str.upper().to_frame()

In [ ]:
df1.Mamíferos.str.lower().to_frame()

In [ ]:
df1.Mamíferos.str.title().to_frame()

# <center>**VALIDAR SI EXISTEN VALORES EN UNA COLUMNA**</center>
## <center>**SENSIBLE AL CASO**</center>

In [ ]:
base = df1.head()
display(base)

In [ ]:
base.Mamíferos.isin(['vacas','leones']).to_frame()

In [ ]:
base.Mamíferos.isin(['Vacas','Leones']).to_frame()

In [ ]:
base.Mamíferos.str.upper().isin(['VACAS','LEONES']).to_frame()

# <center>OBTENER LA INFORMACION DE LAS **FILAS** DE UN DATAFRAME</center>
## <center> **LIMIT & OFFSET** DE UN DATAFRAME</center>

# <center>PRIMERAS  **n FILAS**</center>

In [ ]:
# LIMIT
df1.head(7)

# <center>TODOS LOS VALORES EXCEPTO LAS PRIMERAS **n FILAS**</center>

In [ ]:
# OFFSET
df1.tail(-93)

# <center>ULTIMAS  **n FILAS**</center>

In [ ]:
df1.tail(7)

# <center>TODOS LOS VALORES EXCEPTO LAS ULTIMAS **n FILAS**</center>

In [ ]:
df1.head(-93)

# <center>MUESTREO ALEATORIO  **n FILAS**</center>

In [ ]:
df1.sample(7)

# <center>OPERACIONES SOBRE TODAS LAS FILAS O COLUMNAS **EJES X y Y**</center>

In [ ]:
ejes = pd.DataFrame(df1, columns=['Lider','Id']).head(5)

# <center>EJE X **AXIS=0 - AXIS=ROWS**</center>

In [ ]:
display(ejes)
ejes.mean(axis=0)

In [ ]:
ejes.mean(axis='rows')

# <center>EJE Y  **AXIS=1 - AXIS=COLUMNS**</center>

In [ ]:
display(ejes)
ejes.mean(axis=1)

In [ ]:
ejes.mean(axis='columns')

# <center>**MODIFICAR VALORES DE UN DATAFRAME EN MEMORIA**</center>
## <center>**INPLACE** TRUE vs FALSE, **COPY**</center>

In [ ]:
inicial = pd.DataFrame({
        "object": ["TV","RADIO","CELL PHONE"], "state": ["OFF","PLAYING","BLOCKED"]
    })
inicial

### <center>**False** valor por defecto</center>

In [ ]:
final_inplace_false = inicial.replace({"OFF": "ON"}, inplace=False)
display(inicial,final_inplace_false)

### <center>**True**</center>
### <center>**AL USAR TRUE RETORNA VACIO, ENTONCES NO SE DEBE GUARDAR EN UNA VARIABLE**</center>

In [ ]:
final_inplace_true = inicial.replace({"OFF": "ON"}, inplace=True)

print('retorna de la variable ->', final_inplace_true)

display(inicial)
display(final_inplace_true)

### <center>**APLICAR DIRECTAMENTE SOBRE LA VARIABLE PARA VER LOS CAMBIOS EN AMBAS VARIABLES**</center>

In [ ]:
final_inplace_true = inicial
final_inplace_true.replace({"OFF": "ON"}, inplace=True)
display(inicial,final_inplace_true)

### <center>**COPY**</center>

In [ ]:
inicial_copia = inicial.copy()
inicial_copia

In [ ]:
inicial_copia.replace({"ON": "WAITING"}, inplace=True)
display(inicial,inicial_copia)

# <center>FILTRAR LA INFORMACION DE UN DATAFRAME</center>

In [ ]:
dataframe_to_filter = df1.head(21)
dataframe_to_filter

### <center>**SLICING DATAFRAME**</center>

In [ ]:
# incluye el valor del primer indice, excluye el valor del ultimo indice
dataframe_to_filter[1:7]

# <center>**USANDO ETIQUETAS**</center>
<center><img src="loc_iloc.png"/></center>

## <center>**LOCK**</center>

In [ ]:
display(dataframe_to_filter.head(10))

In [ ]:
# selecciona filas desde el indice, hasta el indice
display(dataframe_to_filter.loc[5:10])

In [ ]:
# selecciona filas desde el indice, hasta el indice, con saltos
display(dataframe_to_filter.loc[5:10:2])

In [ ]:
display(dataframe_to_filter.loc[5:10:3,'Lider':'Peces'])

### FILTRAR BASADO EN CONDICIONES Y COLUMNAS

In [ ]:
dataframe_to_filter.loc[dataframe_to_filter['Lider'] > 50]

In [ ]:
dataframe_to_filter.loc[dataframe_to_filter['Lider'] > 50, ['Id','Peces','Aves']]

### REEMPLAZAR VALORES DE LAS COLUMNAS BASADO EN LOS INDICES

In [ ]:
dataframe_to_filter.loc[[2,3,4], ['Id','Lider']] = 0
dataframe_to_filter

### REORDENAR COLUMNAS DE DATAFRAME POR NOMBRE

In [ ]:
lista = dataframe_to_filter.columns.to_list()
print(lista)
lista.sort()
lista

In [ ]:
dataframe_to_filter.loc[5:10,lista]

### FILTRAR DATAFRAME POR NOMBRE DE COLUMNAS

In [ ]:
dataframe_to_filter.loc[5:10,['Mamíferos', 'Reptiles', 'Peces', 'Anfibios']]

In [ ]:
# muesta las columnas que son salteadas de a 2
display(dataframe_to_filter.loc[5:10])
display(dataframe_to_filter.loc[5:10,'Lider'::2])
display(dataframe_to_filter.loc[5:10,'Id'::2])

# <center>**USANDO INDICES**</center>

## <center>**ILOCK**</center>

In [ ]:
display(dataframe_to_filter.head(10))

In [ ]:
# selecciona filas y columnas simultaneamente
dataframe_to_filter.iloc[5:10:2]

In [ ]:
dataframe_to_filter.iloc[5:10:2,1:5]

In [ ]:
dataframe_to_filter.iloc[5:10,1::2]

### REORDENAMIENTO DE LA UBICACION DE LAS FILAS Y EXTRACCION DE FILAS ESPECIFICAS

In [ ]:
dataframe_to_filter.iloc[[7,9,13,1,2,5],1::2]

### REORDENAMIENTO DE LA UBICACION DE LAS COLUMNAS Y EXTRACCION DE COLUMNAS ESPECIFICAS

In [ ]:
# indices especificos de las columnas
dataframe_to_filter.iloc[5:10,[4,5,2,1]]

### <center>**AT, IAT, OBTENER VALOR DEL CONTENIDO ESPECIFICO DE UNA FILA-COLUMNA** UBICACION EN LA MATRIZ DEL DATAFRAME</center>

In [ ]:
print(dataframe_to_filter.at[2,'Anfibios'])
display(dataframe_to_filter)

In [ ]:
dataframe_to_filter.iat[2,5]

In [ ]:
dataframe_to_filter.iat[2,5] = 'RANAS'
dataframe_to_filter

### <center>**TAKE OBTENER LAS FILAS O COLUMNAS CON UN INDICE ESPECIFICO**</center>

In [ ]:
dataframe_to_filter.take([1,5], axis='rows')

In [ ]:
# trae las columnas con los indices declarados
dataframe_to_filter.take([1,5], axis='columns')

In [ ]:
# trae las columnas con los indices declarados desde la ultima posicion hacia atras
dataframe_to_filter.take([-1,-2], axis='columns')

### <center>**CLIP REEMPLAZO DE VALORES FUERA DE LOS RANGOS**</center>

In [ ]:
display(dataframe_to_filter[['Id','Lider']].iloc[0:10])

In [ ]:
dataframe_to_filter[['Id','Lider']]\
                                    .iloc[0:10]\
                                    .clip(lower=3, upper=8, axis = 0)

### <center>**FILTER DATAFRAME**</center>

### OBTIENE LAS **FILAS** QUE CONTENGA EL CARACTER A FILTRAR **BASASO EN EL VALOR DEL INDICE**

In [ ]:
# el indice contenga, filtra por fila
dataframe_to_filter\
                    .filter(like='2', axis=0)

### OBTIENE LAS **COLUMNAS** QUE CONTENGAN EL CARACTER A FILTRAR **BASADO EN EL NOMBRE DE LA COLUMNA** SENSIBLE AL CASO

In [ ]:
# el nombre de la columna contenga
dataframe_to_filter\
                    .filter(like='R', axis=1)

In [ ]:
dataframe_to_filter\
                    .filter(like='r', axis=1)

# FILTRO CASO NO SENSITIVO CON EXPRESIONES REGULARES

In [ ]:
import re
dataframe_to_filter\
                    .filter(regex=re.compile(r"R", re.IGNORECASE), axis=1)

# <center>**FILTRO CON CONDICIONES EN COLUMNAS**</center>

In [ ]:
valores_anfibios = list(dataframe_to_filter["Anfibios"].unique())
valores_id = list(dataframe_to_filter["Id"].unique())
valores_lider = list(dataframe_to_filter["Lider"].unique())

valor_anfibio = random.choice(valores_anfibios)
valor_id = random.choice(valores_id)
valor_lider = random.choice(valores_lider)

valores_referencia = f'Anfibio -> {valor_anfibio}, Id -> {valor_id}, Lider -> {valor_lider}'
print(valores_referencia)

display(dataframe_to_filter)
dataframe_to_filter[dataframe_to_filter["Anfibios"] == valor_anfibio]

In [ ]:
print(valores_referencia)
display(dataframe_to_filter)
dataframe_to_filter[dataframe_to_filter["Anfibios"] != valor_anfibio]

# <center>**OPERADOR & Y-AND**</center>

In [ ]:
print(valores_referencia)
display(dataframe_to_filter)
dataframe_to_filter[(dataframe_to_filter["Anfibios"] == valor_anfibio) & (dataframe_to_filter["Id"] >= valor_id)]

# <center>**OPERADOR | O-OR**</center>

In [ ]:
print(valores_referencia)
display(dataframe_to_filter)
dataframe_to_filter[(dataframe_to_filter.Anfibios == valor_anfibio) | (dataframe_to_filter.Id  >= valor_id)]

# <center>OPERADOR **~** NEGACION </center>

In [ ]:
print(valores_referencia)
display(dataframe_to_filter)
dataframe_to_filter[~(dataframe_to_filter["Anfibios"] != valor_anfibio) & (dataframe_to_filter["Id"] > valor_id)]

# <center>**USANDO FUNCIONES**</center>
## <center>**isin**</center>

In [ ]:
values = [valor for valor in range(1,10,2)]
print(values)

estan = dataframe_to_filter.loc[dataframe_to_filter['Id'].isin(values)]

no_estan = dataframe_to_filter.loc[~dataframe_to_filter.Id.isin(values)]

display(estan, no_estan)

## <center>**str.contains**</center>

In [ ]:
values = dataframe_to_filter.Peces.to_list()
random_value = random.choice(values).split(' ')[0]
print(values)
print(random_value)


display(dataframe_to_filter)
dataframe_to_filter[dataframe_to_filter.Peces.str.contains(f'{random_value}')]

In [ ]:
# que no contenga la frase
print(random_value)
display(dataframe_to_filter)
dataframe_to_filter[~dataframe_to_filter.Peces.str.contains(f'{random_value}')]

## <center>**str.lower().str.contains, str.upper().str.contains**</center>

In [ ]:
print(random_value.lower())
display(dataframe_to_filter)
dataframe_to_filter[dataframe_to_filter.Peces.str.lower().str.contains(f'{random_value.lower()}')]

In [ ]:
print(random_value.upper())
display(dataframe_to_filter)
dataframe_to_filter[~dataframe_to_filter.Peces.str.upper().str.contains(f'{random_value}.upper()')]

## <center>**str.contains.startswith**</center>

In [ ]:
print(list(random_value))
display(dataframe_to_filter)
dataframe_to_filter[dataframe_to_filter.Peces.str.startswith(f'{list(random_value)[0]}')]

## <center>**str.contains.endswith**</center>

In [ ]:
print(list(random_value))
display(dataframe_to_filter)
dataframe_to_filter[dataframe_to_filter.Peces.str.endswith(f'{list(random_value).pop()}')]

## <center>**str.contains. INSENSIBLE AL CASO**</center>

In [ ]:
lista = list(random_value)
letra_random = random.choice(lista).upper()
print(lista, letra_random)

dataframe_to_filter[dataframe_to_filter.Peces.fillna('').str.contains(letra_random, case=False)]

## <center>**TRANSFORM, APPLY, MAP, APPLYMAP**</center>

In [ ]:
diccionario = {
'numeros':['uno','dos','tres','cuatro','cinco','seis','siete','ocho','nueve','diez','once','doce','trece','catorce','quince','dieciseis','diecisiete','dieciocho','diecinueve','veinte'],
'colores':['amarillo','azul','rojo','verde','morado','amarillo','azul','rojo','verde','morado']*2,
'frutas':['manzana','fresa','banano','coco','banano','manzana','fresa','banano','fresa','coco']*2,
'planeta':['mercurio','venus','tierra','tierra','mercurio','venus','tierra','mercurio','tierra','marte']*2,
'costo':[costo for costo in range(2,22,2)]*2,
'valores':[valor for valor in range(1,21)],

}

validar = pd.DataFrame(diccionario)
validar

### <center>**TRANSFORM**</center>
#### <center>pasa cada columna como una serie a la función personalizada.</center>
### <center>**APLICA A TODA LA SERIE**</center>

In [ ]:
# aplica por columna, si se evalua la serie siempre tienen el mismo tamano, entoces convertimos a str para ver cambios
def duplicar(row):
    
    size = len(str(row))
    print(type(row),size, row.values)
    return row*2 if size > 350 or size < 220 else row

validar.transform(duplicar)

### <center>**APLICA A TODA LA COLUMNA**</center>

In [ ]:
validar.costo.transform(duplicar).to_frame()

### <center>**APLICA A TODA LA FILA**</center>

In [ ]:
validar.loc[0].transform(duplicar).to_frame()

### <center>**GENERAR NUEVAS COLUMNAS**</center>

In [ ]:
validar['doble'] = validar.valores.transform(duplicar)
validar

### <center>**SOPORTA MULTIPLES FUNCIONES A EVALUAR SIMULTANEAMENTE**</center>

In [ ]:
validar.transform(['sqrt','exp'])

### <center>**solo manipula una sola fila o columna en función del valor del eje y no manipula el dataframe completo.**</center>

In [ ]:
validar.transform(lambda row: row.costo + row.valores)

In [ ]:
validar.transform(lambda row: row.costo + row.valores, axis=1)

In [ ]:
validar.transform(lambda row: row*2)

### <center>**NO SOPORTA FUNCIONES DE AGREGADO**</center>

In [ ]:
validar.transform(lambda x: x.sum())

In [ ]:
validar.doble.transform(lambda x: x.sum())

### <center>**APPLY**</center>
#### <center>se usa para aplicar una función a lo largo de un eje de un DataFrame o en valores de Series</center>
#### <center>pasa implícitamente todas las columnas de cada grupo como un DataFrame a la función personalizada.</center>

In [ ]:
validar.apply(duplicar)

### <center>**SOPORTA FUNCIONES DE AGREGADO**</center>
## solo si todos los elementos a realizar la agregacion **tienen el mismo tipo de datos**

In [ ]:
display(validar.head())
validar.apply(lambda x:x.sum())

In [ ]:
# eje y
res= {
'Uno':[999,'valor-Uno'],
'Dos':[555,'valor-Dos']
}

pd.DataFrame(res).apply(lambda x:x.sum(), axis=1)

In [ ]:
validar.apply(lambda x:x.max())

### <center>**USANDO LAS COLUMNAS DE UN DATAFRAME**</center>
# sino se declara el eje columnas o el eje y recorre la serie por columnas, entonces no se puede acceder a los nombres de las columnas

In [ ]:
# debe solo se recorren las columnas cuando se declara el eje
limite = 10
dff = df1.head(limite)

def funcion_concatenar(row):
    mamiferos = row.Mamíferos
    reptiles  = row.Reptiles
    
    return mamiferos + ' y ' + reptiles

dff.apply(funcion_concatenar)

In [ ]:
dff.apply(funcion_concatenar, axis=1).to_frame(name='Unido')

### <center>**ADICIONANDO LAS COLUMNAS DE UN DATAFRAME**</center>

In [ ]:
dff['suma_columnas'] = dff.apply(lambda row: row[0]+row[1], axis='columns')
display(dff)

In [ ]:
dff['suma_columnas_multiplicadas'] = dff.apply(lambda row: row[0]*5 + row[1]*2, axis=1)
dff

### <center>**USANDO LAS FILAS DE UN DATAFRAME**</center>

In [ ]:
dff = df1.head(10)


dff.Id = dff.Id.apply(lambda x: 'Es Menor a 5' if x < 5 else x)
dff

In [ ]:
dff = df1.head(10)

def es_par(valor):
    
    if valor %2 == 0:
        return 'Es Par'
    return valor

dff.Id = dff.Id.apply(es_par)
dff

### <center>**APLICAR SOBRE TODAS LAS COLUMNAS QUE TIENEN EL MISMO TIPO DE DATO**</center>

In [ ]:
dff.apply(lambda x: 'Es Menor a 5' if x < 5 else x)

In [ ]:
dff.apply(lambda x: 'Es Menor a 150' if len(str(x)) < 150 else x).to_frame('Resultado')

### <center>**GENERAR MULTIPLES COLUMNAS EN UN DATAFRAME**</center>

In [ ]:
%%time
# generar fechas aleatorias entre 2 fechas
dff['Fechas'] = pd.date_range(start='1/1/2000 00:00:00', end='1/1/2023 00:00:00', periods=limite)

def fecha(fecha):
    return pd.Series([fecha.year, fecha.month, fecha.day, fecha.hour, fecha.minute, fecha.second])

dff[["year", "month", "day", 'hour', 'minute', 'second']] = dff.Fechas.apply(fecha)

dff

In [ ]:
dff["y"], dff["m"], dff["d"], dff["h"], dff["d"], dff["s"] = dff.Fechas.apply(lambda fecha: pd.Series([fecha.year, fecha.month, fecha.day, fecha.hour, fecha.minute, fecha.second]))

dff

### <center>**UNIENDO VALORES DE MULTIPLES COLUMNAS DE UN DATAFRAME**</center>

In [ ]:
dff.year

In [ ]:
# falla si no se declara el eje de ejecucion
dff['apply'] = dff.apply(lambda row: row.year + row.Lider)
dff

### <center>**DEFINIENDO EL EJE DE UNION EN UN DATAFRAME**</center>

In [ ]:
dff['apply'] = dff.apply(lambda row: row.year + row.Lider, axis='columns')
dff

### <center>**MAP**</center>
#### <center>usado para substituir el valor en una serie con otro valor</center>

In [ ]:
# usando la serie de una fila
validar.loc[0].map(lambda x: x.upper() if type(x)==str and len(x)> 7 else x)

In [ ]:
# usando la serie de una columna
validar.planeta.map(lambda x: x.upper() if type(x)==str and len(x)> 7 else x)

### <center>**APPLYMAP**</center>
#### <center>se usa para aplicar una función a cada elemento del DataFrame</center>

In [ ]:
def duplicar(row):
    
    size = len(str(row))
    print(type(row),size, row)
    return row*2 if size > 4 else row

validar.applymap(duplicar)

## <center>**WHERE**</center>

In [ ]:
filtro_1 = dataframe_to_filter.Id > 5
filtro_2 = dataframe_to_filter.Lider > 33
filtro_3 = dataframe_to_filter.Id * 2 < dataframe_to_filter.Lider

### <center>**DROP NA**</center>

In [ ]:
print(filtro_1)
dataframe_to_filter.where(filtro_1)

In [ ]:
print(filtro_1)
dataframe_to_filter.where(filtro_1).dropna()

## <center>**AND, &**</center>

In [ ]:
print(filtro_1)
print(filtro_3)

dataframe_to_filter.where(filtro_1 & filtro_3).dropna()

## <center>**OR,  |**</center>

In [ ]:
print(filtro_1)
print(filtro_2)
dataframe_to_filter.where(filtro_1 | filtro_2).dropna()

## <center>**UPDATE** AL VALOR QUE NO CUMPLA LA CONDICION</center>

### <center>**ACTUALIZA SOLO LOS VALORES DONDE COINCIDA, COMPARA CADA FILA EN TODO EL DATAFRAME**</center>

In [ ]:
# se evalua todo el dataframe
# filtra todos los valores dentro del dataframe
filtro_4 = dataframe_to_filter != 'Vacas'
print(filtro_4)

display(dataframe_to_filter)
dataframe_to_filter.where(filtro_4,'ACTUALIZADO')

### <center>**ACTUALIZA TODOS LOS VALORES DE LA FILA DONDE COINCIDA AL MENOS UN VALOR EN UNA FILA**</center>

In [ ]:
# se evalua solo una columna del dataframe

filtro_5 = dataframe_to_filter.Lider != 0
print(filtro_5)

display(dataframe_to_filter)
dataframe_to_filter.where(filtro_5,None)

In [ ]:
filtro_5 = dataframe_to_filter.Lider == 0
print(filtro_5)

display(dataframe_to_filter)
dataframe_to_filter.where(filtro_5,None)

## <center>**QUERY**</center>

In [ ]:
filtro_1 = 'Id > 5'
filtro_2 = 'Lider > 33'
filtro_3 = 'Id > Lider'

## <center>**PASANDO VALORES**</center>

## <center>**IGUAL A ==**</center>

In [ ]:
print(valores_referencia)
value = valor_anfibio

dataframe_to_filter.query("Anfibios == @value")

## <center>**DIFERENTE DE !=**</center>

In [ ]:
print(valores_referencia)
dataframe_to_filter.query("Anfibios != @value")

## <center>**QUE CONTENGA LOS VALORES DE LA LISTA, IN**</center>

In [ ]:
valores_anfibios = dataframe_to_filter.Anfibios.to_list()
lista = [random.choice(valores_anfibios) for valor in range(len(valores_anfibios)//3) ]

print(valores_referencia, f'lista {lista}')
dataframe_to_filter.query("Anfibios in @lista")

## <center>**QUE NO CONTENGA LOS VALORES DE LA LISTA, NOT IN**</center>

In [ ]:
print(valores_referencia, f'lista {lista}')
dataframe_to_filter.query("Anfibios not in @lista")

## <center>**OPERADORES LOGICOS CLASICOS**</center>

In [ ]:
print(filtro_1)
print(filtro_2)
print(filtro_3)
display(dataframe_to_filter.query(filtro_1))
display(dataframe_to_filter.query(filtro_2))

## <center>**AND**</center>

In [ ]:
print(filtro_1)
print(filtro_2)
print(filtro_3)
dataframe_to_filter.query(f'{filtro_1} and {filtro_2}')

In [ ]:
print(filtro_1)
print(filtro_2)
print(filtro_3)
dataframe_to_filter.query(f'{filtro_2} and {filtro_3}')

In [ ]:
print(filtro_1)
print(filtro_2)
print(filtro_3)
dataframe_to_filter.query(f'{filtro_1} and {filtro_3} ')

## <center>**OR**</center>

In [ ]:
print(filtro_1)
print(filtro_2)
print(filtro_3)
dataframe_to_filter.query(f'{filtro_1} or {filtro_2}')

In [ ]:
print(filtro_1)
print(filtro_2)
print(filtro_3)
dataframe_to_filter.query(f'{filtro_1} or {filtro_3}')

# <center>**ELIMINAR COLUMNAS DUPLICADAS**</center>

In [ ]:
columnas_repetidas = pd.concat([df1[0:3], df2[0:3]], axis=1, join="outer")

columnas_sin_repetir = columnas_repetidas.T.drop_duplicates().T

columnas_sin_repetir_2 = columnas_repetidas.loc[:,~columnas_repetidas.columns.duplicated()]

display(columnas_repetidas, columnas_sin_repetir, columnas_sin_repetir_2)

# <center>**ELIMINAR FILAS REPETIDAS**</center>

## <center>**SOLO MANTIENE LA PRIMERA FILA REPETIDA ENCONTRADA**</center>

In [ ]:
dataframe_to_filter

In [ ]:
dataframe_to_filter\
                    .drop_duplicates(subset=['Lider'])

In [ ]:
dataframe_to_filter\
                    .drop_duplicates(subset=['Lider'], keep='first')

## <center>**SOLO MANTIENE LA ULTIMA FILA REPETIDA ENCONTRADA**</center>

In [ ]:
dataframe_to_filter\
                    .drop_duplicates(subset=['Lider'], keep='last')

## <center>**SOLO MANTIENE LAS FILAS QUE NO TIENEN INFORMACION REPETIDA**</center>

In [ ]:
dataframe_to_filter\
                    .drop_duplicates(subset=['Lider'], keep=False)

## <center>**SOLO MANTIENE LA FILA REPETIDA ENCONTRADA BASADA EN LA CONDICION DEFINIDA**</center>

In [ ]:
dataframe_to_filter

In [ ]:
# Elimina dejando el PRIMERO del orden ascendente de Mamíferos
dataframe_to_filter\
                    .sort_values('Mamíferos', ascending=True)\
                    .drop_duplicates(['Peces'])\
                    .sort_values(by=['Id'], ascending=False)

In [ ]:
# Elimina dejando el ULTIMO del orden ascendente de Mamíferos
dataframe_to_filter\
                    .sort_values('Mamíferos', ascending=True)\
                    .drop_duplicates(['Peces'], keep='last')\
                    .sort_values(by=['Id'], ascending=False)

In [ ]:
# ORDENA POR EL INDICE ASCENDENTE
dataframe_to_filter\
                    .sort_values('Mamíferos', ascending=True)\
                    .drop_duplicates(['Peces'], keep='last')\
                    .sort_index()

In [ ]:
# ORDENA POR EL INDICE DESCENDENTE
dataframe_to_filter\
                    .sort_values('Mamíferos', ascending=True)\
                    .drop_duplicates(['Peces'], keep='last')\
                    .sort_index(ascending=False)

# <center>**UNIR O CONCATENAR DATAFRAMES**</center>

# <center>**OUTER**</center>

In [ ]:
display(df1[0:3], df2[0:5])

# busca un indice comun entre los dataframes y los une basado en ese criterio
pd.concat([df1[0:3], df2[0:5]], join="outer")

### EJE X

In [ ]:
# junta las filas
display(df1[0:3], df2[0:5])
pd.concat([df1[0:3], df2[0:5]], axis=0, join="outer")

### EJE Y

In [ ]:
display(df1[1:8:3], df2[0:5])

# busca un indice comun entre los dataframes y los une basado en ese criterio
pd.concat([df1[1:8:3], df2[0:5]], axis=1, join="outer")

# <center>**INNER**</center>

In [ ]:
display(df1[0:3], df2[0:5])
pd.concat([df1[0:3], df2[0:5]], axis=1, join="inner")

In [ ]:
# solo realiza la uion con columnas de nombres iguales
display(df1[0:3], df2[0:5])
pd.concat([df1[0:3], df2[0:5]], axis=0, join="inner")

# <center>**COMPARACION POR DATAFRAMES**</center>

In [ ]:
pd.concat([df1[0:3], df2[0:3], df3[0:3]], axis=1)

In [ ]:
pd.concat([df1[0:3], df2[0:3], df3[0:3]], keys=["json_base", "csv_base", "excel_base"], axis=1)

# <center>**JOINS**</center>
# <center>**df.join VS df.merge()**</center>
<center><img src="merge_vs_join.png"/></center>

# <center>**SELF, INNER, LEFT, RIGHT, OUTER, CROSS, INDEX**</center>
<center><img src="joins.jpeg"/></center>

In [ ]:
json_base, csv_base, excel_base = df1.head(5), df2.head(7), df3.head(10)

# <center>**SELF** JOIN</center>

In [ ]:
dataframe_self_join = df1.head(10)
display(dataframe_self_join)
join_dataframe(dataframe_self_join, dataframe_self_join, tipo_de_join='SELF',self_join=['Id','Lider']).dropna()

# <center>**INNER** JOIN</center>

In [ ]:
display(json_base, csv_base)

join_dataframe(json_base, csv_base, llaves_para_join= ['Id'], tipo_de_join='INNER')

In [ ]:
pd.merge(json_base, csv_base, on=["Id"])

## <center>**INNER** JOIN **Multiples Llaves**</center>

In [ ]:
display(df3, df2)

join_dataframe(df3, df2, llaves_para_join= ['Id','Lider'], tipo_de_join='INNER')

# inner join sin declararlo

In [ ]:
pd.merge(df3, df2, on=['Id','Lider'])

### JUNTA LOS DATAFRAMES POR FILAS Y LOS QUE NO COINCIDEN CON LAS LLAVES LOS CAMPOS QUEDAN NULOS

In [ ]:
pd.merge_ordered(df2, df3, on=['Id','Lider'])

# <center>**LEFT** JOIN</center>

In [ ]:
display(json_base, csv_base)
join_dataframe(json_base, csv_base, llaves_para_join = ['Id'], tipo_de_join='LEFT')

# <center>**RIGHT** JOIN</center>

In [ ]:
display(json_base, csv_base)
join_dataframe(json_base, csv_base, llaves_para_join = ['Id'], tipo_de_join='RIGHT')

# <center>**OUTER** JOIN</center>

In [ ]:
# junta con los indices que coincidan y los demas registros llena con null los campos que no encuentra
display(csv_base, excel_base)
join_dataframe(csv_base, excel_base, llaves_para_join = ['Id'], tipo_de_join='OUTER', mostrar_tipo_join=True)

## <center>**ELIMINAR COLUMNAS DUPLICADAS Y PERSONALIZAR LOS ALIAS EN COLUMNAS QUE SE VAN A DUPLICAR** MERGE</center>

### <center>**USANDO LLAVES ESPECIFICAS PARA EL JOIN** MERGE</center>

In [ ]:
merge_eliminar_columnas_dulicadas = pd.merge(csv_base, excel_base, 
                 on=['Id','Lider'], how='outer')
merge_eliminar_columnas_dulicadas

### <center>**USANDO DESCUBRIMIENTO AUTOMATICO DE LLAVES PARA EL JOIN** MERGE **PERSONALIZANDO EL NOMBRE DEL ALIAS O SUFIJO PARA COLUMNAS DUPLICADAS** </center>

In [ ]:
display(csv_base, excel_base)

merge_eliminar_columnas_dulicadas = pd.merge(csv_base, excel_base, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))
merge_eliminar_columnas_dulicadas

In [ ]:
# elimina las columnas con el prefijo especifico
merge_eliminar_columnas_dulicadas\
                                .drop(merge_eliminar_columnas_dulicadas\
                                .filter(regex='_y$')\
                                .columns, axis=1, inplace=True)
merge_eliminar_columnas_dulicadas

# <center>**CROSS** JOIN</center>

In [ ]:
display(csv_base, excel_base)
join_dataframe(csv_base, excel_base, 'Id', tipo_de_join='CROSS')

# <center>**INDEX** JOIN</center>

In [ ]:
# solo une con los indices que coincidan
display(csv_base, json_base)
join_dataframe(csv_base, json_base, tipo_de_join='INDEX')

In [ ]:
display(csv_base[0:10], json_base[0:10])
pd.merge(csv_base[0:10], json_base[0:10], left_index=True, right_index=True)

# <center>**COLUMN** JOIN</center>

In [16]:
display(df1, df3)

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,1,33,Gatos,Tuátaras de Nueva Zelanda,Lenguados,Sapos de caña venenosos,Águilas
1,2,90,Rinocerontes,Dragones de Komodo,Peces payaso,Ranas de Darwin,Cigüeñas
2,3,39,Caballos,Dragones de Komodo,Peces vela,Lisorofios (extintos),Gallinas
3,4,39,Vacas,Aligátores,Lenguados,Ranas arborícolas,Cóndores
4,5,15,Seres humanos,Tortugas galápagos,Pirañas,Salamandras comunes,Colibríes
5,6,80,Perros,Víboras,Atunes,Proteos,Patos
6,7,86,Elefantes,Lagartos voladores australianos,Celacantos (extintos),Lisorofios (extintos),Pájaros carpinteros
7,8,100,Elefantes,Tortugas terrestres,Anguilas de mar,Ajolotes,Guacamayas
8,9,100,Ovejas,Luciones,Atunes,Ranas arborícolas,Colibríes
9,10,76,Leones,Tortugas terrestres,Las agujas de río,Salamandras sin pulmón,Lechuzas
10,11,37,Capibaras,Aligátores,Peces luna,Lisorofios (extintos),Pájaros carpinteros
11,12,2,Perros,Dragones de Komodo,Peces payaso,Gallipatos,Patos
12,13,17,Ballenas,Iguanas,Carpas,Gallipatos,Pavorreales
13,14,30,Perros,Cocodrilos,Peces abisales,Gallipatos,Águilas
14,15,86,Perros,Basiliscos,Peces luna,Ranas de Darwin,Pelícanos
15,16,99,Perros,Tortugas terrestres,Pirañas,Ranas de Darwin,Cigüeñas
16,17,27,Delfines,Víboras,Pirañas,Ranas arcoíris,Águilas
17,18,51,Hienas,Dinosaurios (extintos),Las agujas de río,Necturos,Patos
18,19,25,Capibaras,Camaleones,Celacantos (extintos),Ranas venenosas,Patos
19,20,86,Gorilas,Lagartos voladores australianos,Koi japoneses,Sapos comunes,Águilas
20,21,4,Ballenas,Víboras,Peces sapo,Lisorofios (extintos),Lechuzas
21,22,35,Jirafas,Aligátores,Los tiburones ballena,Ranas de Darwin,Faisanes
22,23,93,Hienas,Tortugas galápagos,Atunes,Proteos,Gallinas
23,24,76,Jirafas,Boas constrictoras,Pirañas,Ranas venenosas,Buitres
24,25,74,Ballenas,Tuátaras de Nueva Zelanda,Peces vela,Necturos,Avestruces
25,26,60,Jirafas,Tortugas galápagos,Peces espada,Ranas de Seychelles,Pelícanos
26,27,37,Vacas,Monstruos de Gila,Peces sapo,Ranas toro africanas,Colibríes
27,28,75,Hienas,Víboras,Anguilas de mar,Ranas de Seychelles,Pavorreales
28,29,80,Delfines,Iguanas,Celacantos (extintos),Sapos corredores,Cóndores
29,30,86,Seres humanos,Varanos,Anguilas de mar,Necturos,Cigüeñas
30,31,84,Ratones,Tortugas acuáticas,Las agujas de río,Sapos gigantes,Patos
31,32,94,Ovejas,Cocodrilos,Peces sapo,Ranas venenosas,Canarios
32,33,66,Elefantes,Iguanas,Peces vela,Gallipatos,Avestruces
33,34,80,Delfines,Lagartos voladores australianos,Peces abisales,Sapos de caña venenosos,Cuervos
34,35,87,Jirafas,Aligátores,Pirañas,Salamandras sin pulmón,Patos
35,36,46,Hienas,Cocodrilos,Barracudas,Gallipatos,Colibríes
36,37,14,Seres humanos,Dinosaurios (extintos),Barracudas,Necturos,Águilas
37,38,49,Ratones,Lagartijas comunes,Peces abisales,Sapos gigantes,Avestruces
38,39,90,Caballos,Tortugas acuáticas,Peces globo,Sapos corredores,Pavorreales
39,40,64,Seres humanos,Mosasaurios (extintos),Lenguados,Lisorofios (extintos),Colibríes
40,41,49,Capibaras,Víboras,Atunes,Ranas toro africanas,Pájaros carpinteros
41,42,47,Orcas,Tortugas acuáticas,Peces abisales,Ranas venenosas,Canarios
42,43,12,Elefantes,Tortugas acuáticas,Peces espada,Sapos gigantes,Avestruces
43,44,17,Hienas,Lagartos voladores australianos,Carpas,Sapos corredores,Guacamayas
44,45,88,Leones,Basiliscos,Barracudas,Ranas arborícolas,Faisanes
45,46,51,Caballos,Monstruos de Gila,Peces luna,Sapos corredores,Gaviotas
46,47,49,Canguros,Dragones de Komodo,Lenguados,Salamandras sin pulmón,Buitres
47,48,94,Delfines,Aligátores,Barracudas,Lisorofios (extintos),Canarios
48,49,96,Jirafas,Luciones,Peces vela,Ajolotes,Pelícanos
49,50,81,Gatos,Aligátores,Peces espada,Proteos,Buitres
50,51,17,Hienas,Tortugas acuáticas,Peces espada,Ranas de Darwin,Gallinas
51,52,17,Elefantes,Pterosaurios (extintos),Bacalaos,Salamandras gigantes chinas,Cóndores
52,53,39,Delfines,Iguanas,Anguilas de mar,Proteos,Águilas
53,54,60,Vacas,Aligátores,Peces payaso,Necturos,Cigüeñas
54,55,91,Rinocerontes,Basiliscos,Atunes,Sapos de caña venenosos,Buitres
55,56,4,Capibaras,Monstruos de Gila,Peces payaso,Ranas arborícolas,Buitres
56,57,23,Leones,Pterosaurios (extintos),Peces abisales,Sapos de caña venenosos,Águilas
57,58,11,Jirafas,Basiliscos,Pirañas,Sapos corredores,Avestruces
58,59,97,Jirafas,Pterosaurios (extintos),Pirañas,Microsaurios (extintos),Avestruces
59,60,4,Gatos,Tortugas acuáticas,Peces abisales,Ranas toro africanas,Pavorreales
60,61,76,Leones,Camaleones,Peces payaso,Sapos comunes,Lechuzas
61,62,23,Jirafas,Monstruos de Gila,Lenguados,Ranas arcoíris,Águilas
62,63,78,Ovejas,Dragones de Komodo,Peces payaso,Sapos de caña venenosos,Tucanes
63,64,65,Ovejas,Varanos,Lenguados,Proteos,Cóndores
64,65,77,Ovejas,Tortugas terrestres,Peces espada,Necturos,Pájaros carpinteros
65,66,19,Rinocerontes,Camaleones,Celacantos (extintos),Ranas venenosas,Lechuzas
66,67,35,Chimpancés,Basiliscos,Los tiburones ballena,Sapos corredores,Águilas
67,68,86,Hienas,Dragones de Komodo,Los tiburones ballena,Ranas venenosas,Colibríes
68,69,99,Seres humanos,Dragones de Komodo,Carpas,Ranas venenosas,Pavos
69,70,48,Capibaras,Tuátaras de Nueva Zelanda,Tiburones,Ranas de Seychelles,Pelícanos
70,71,86,Ratones,Dragones de Komodo,Peces sapo,Salamandras sin pulmón,Cuervos
71,72,67,Gatos,Dragones de Komodo,Peces abisales,Proteos,Lechuzas
72,73,47,Perros,Monstruos de Gila,Peces vela,Ranas arborícolas,Águilas
73,74,97,Ratones,Monstruos de Gila,Barracudas,Sapos de caña venenosos,Pelícanos
74,75,30,Elefantes,Mosasaurios (extintos),Atunes,Lisorofios (extintos),Avestruces
75,76,14,Perros,Tortugas terrestres,Carpas,Ranas venenosas,Tucanes
76,77,22,Cabras,Mosasaurios (extintos),Tiburones,Salamandras gigantes chinas,Colibríes
77,78,55,Ratones,Mosasaurios (extintos),Peces globo,Lisorofios (extintos),Cuervos
78,79,61,Hienas,Cocodrilos,Koi japoneses,Salamandras sin pulmón,Cigüeñas
79,80,89,Rinocerontes,Cocodrilos,Bacalaos,Ranas de Seychelles,Pavorreales
80,81,38,Chimpancés,Mosasaurios (extintos),Anguilas de mar,Salamandras gigantes chinas,Gallinas
81,82,47,Gorilas,Lagartos voladores australianos,Peces abisales,Ranas de Seychelles,Faisanes
82,83,45,Perros,Tortugas acuáticas,Lenguados,Ranas arborícolas,Pájaros carpinteros
83,84,88,Canguros,Luciones,Carpas,Ranas toro africanas,Avestruces
84,85,73,Caballos,Boas constrictoras,Peces luna,Sapos comunes,Pelícanos
85,86,58,Hienas,Pterosaurios (extintos),Peces payaso,Ranas arcoíris,Pavos
86,87,2,Hienas,Camaleones,Peces globo,Ranas de Darwin,Gallinas
87,88,3,Hienas,Cocodrilos,Celacantos (extintos),Gallipatos,Pavos
88,89,72,Hienas,Tortugas terrestres,Barracudas,Salamandras gigantes chinas,Gaviotas
89,90,92,Rinocerontes,Boas constrictoras,Carpas,Sapos corredores,Colibríes
90,91,16,Cabras,Iguanas,Pirañas,Sapos de caña venenosos,Buitres
91,92,99,Leones,Varanos,Carpas,Salamandras comunes,Gaviotas
92,93,100,Gatos,Luciones,Peces payaso,Ranas arcoíris,Lechuzas
93,94,18,Chimpancés,Cocodrilos,Las agujas de río,Ranas venenosas,Guacamayas
94,95,48,Ratones,Dragones de Komodo,Peces espada,Salamandras comunes,Cóndores
95,96,22,Orcas,Pterosaurios (extintos),Peces abisales,Ranas arborícolas,Cuervos
96,97,64,Leones,Tuátaras de Nueva Zelanda,Bacalaos,Gallipatos,Loros
97,98,52,Seres humanos,Víboras,Peces espada,Lisorofios (extintos),Pelícanos
98,99,11,Hienas,Pterosaurios (extintos),Esturiones,Salamandras gigantes chinas,Pelícanos
99,100,4,Caballos,Tuátaras de Nueva Zelanda,Celacantos (extintos),Salamandras comunes,Pavos

,Id,Lider,Mamíferos,Herbívoros,Carnívoros,Omnívoros
0,1,22,Canguros,Antílopes,Tiburón tigre,Manatí
1,2,56,Gorilas,Ciervos,,Monos
2,3,10,Cabras,Antílopes,Serpiente de coral,Coatí
3,4,94,Ballenas,Jirafas,Cuervo,Langostas
4,5,89,Leones,Ardillas,Cachalotes,Cangrejos
5,6,67,Rinocerontes,Tapires,Cobras,Escarabajo de cementerio
6,7,87,Hienas,Cabras,Mapaches,Gallinas
7,8,66,Vacas,Burros,Pitón,Ardilla
8,9,63,Perros,Conejos,Gato montés,Tucán
9,10,36,Gatos,Cabras,Kinkajú,Mofetas
10,11,92,Gatos,Cobayos,Demonio de Tasmania,Coatí
11,12,77,Ratones,Alpacas,Tiburón martillo,Emú
12,13,98,Caballos,Vacas,Mangostas,Zorrillos
13,14,81,Ovejas,Jirafas,Ballena jorobada,Cangrejos
14,15,18,Vacas,Tortugas,Gineta común,Ayeaye
15,16,9,Capibaras,Ardillas,Murciélago espectral,Bagres
16,17,20,Gatos,Conejos,,Tejón
17,18,76,Chimpancés,Cobayos,Kinkajú,Coyotes
18,19,77,Delfines,Cabras,Delfín,Grullas
19,20,20,Delfines,Cobayos,Kinkajú,Gansos
20,21,94,Rinocerontes,Jirafas,Guepardos,Ratón
21,22,27,Hienas,Tapires,Tiburón tigre,Perezosos
22,23,3,Chimpancés,Elefante,Pitón,Fochas
23,24,69,Cabras,Caballos,Hurón,Ornitorrinco
24,25,69,Caballos,Cobayos,Lobos,Bengalí rojo
25,26,29,Orcas,Canguro,Cobras,Seres humanos
26,27,77,Ballenas,Canguro,Mapaches,Zorros
27,28,28,Orcas,Cebras,,Coyotes
28,29,56,Orcas,Cebras,Percas,Zarigüeyas
29,30,77,Ballenas,Jirafas,Cóndor andino,Gorrión
30,31,67,Chimpancés,Alpacas,Murciélago pescador,Bacalaos
31,32,25,Hienas,Caballos,Pantera negra,Osos
32,33,99,Chimpancés,Canguro,Anacondas,Manatí
33,34,66,Chimpancés,Cebras,Chacal,Tortugas
34,35,11,Gorilas,Alpacas,Atún,Casuarios
35,36,10,Ballenas,Cobayos,Tollo cigarro,Zorzal
36,37,65,Gatos,Cabras,Buitre quebrantahuesos,Mirlos
37,38,74,Jirafas,Alpacas,Cobras,Casuarios
38,39,28,Jirafas,Ciervos,,Gorrión
39,40,39,Hienas,Canguro,Ballena jorobada,Gaviotas
40,41,20,Canguros,Tapires,Hurón,Ardilla
41,42,65,Cabras,Rinocerontes,Garduña,Gorilas
42,43,6,Gatos,Alpacas,Tejón,Gansos
43,44,98,Orcas,Ardillas,Guepardos,Gansos
44,45,85,Canguros,Burros,Marabú,Gansos
45,46,39,Orcas,Ardillas,Oso pardo,Mirlos
46,47,101,Cabras,Ciervos,Oso pardo,Emú
47,48,93,Perros,Tortugas,León marino,Cisnes
48,49,32,Ovejas,Canguro,Gato montés,Hormigas
49,50,26,Perros,Ciervos,Focas,Ornitorrinco
50,51,60,Chimpancés,Elefante,Tejón,Pirañas
51,52,46,Gorilas,Ardillas,Tiburón toro,Tortuga carbonaria
52,53,83,Ratones,Alpacas,Albatros,Mirlos
53,54,20,Perros,Cabras,Tigre siberiano,Mofetas
54,55,90,Perros,Cebras,Gato montés,Erizos
55,56,51,Ballenas,Tortugas,Linsangs,Manatí
56,57,97,Ballenas,Burros,Secretario,Nutria
57,58,54,Chimpancés,Vacas,Buitre leonado,Chimpancé
58,59,44,Delfines,Vacas,Tortuga lagarto,Ardilla
59,60,23,Ratones,Koalas,Cocodrilos,Bengalí rojo
60,61,10,Seres humanos,Ovejas,,Tejón
61,62,20,Hienas,Cobayos,Alimoche,Cucaracha
62,63,23,Ovejas,Cebras,Gecko leopardo,Petirrojos
63,64,71,Elefantes,Elefante,Mapaches,Lémur
64,65,57,Cabras,Caballos,Varano del desierto,Tucán
65,66,57,Hienas,Ciervos,Hienas,Tucán
66,67,20,Perros,Rinocerontes,Perros,Gatos
67,68,62,Leones,Conejos,Cóndor de California,Escarabajo de cementerio
68,69,43,Ratones,Jirafas,Belugas,Perezosos
69,70,30,Seres humanos,Antílopes,Lechuza,Pirañas
70,71,55,Caballos,Tortugas,Nutrias,Carpa
71,72,30,Gatos,Canguro,Tiburón toro,Zorzal
72,73,28,Elefantes,Koalas,Águila pescadora,Tejón
73,74,15,Capibaras,Ovejas,Tollo cigarro,Pez arquero
74,75,45,Hienas,Llamas,Visón europeo,Gorrión
75,76,42,Jirafas,Caballos,Anacondas,Garza real
76,77,39,Leones,Ardillas,Martas,Pirañas
77,78,74,Ballenas,Antílopes,Cobras,Hormigas
78,79,32,Gatos,Ovejas,Alimoche,Avutarda
79,80,38,Rinocerontes,Vacas,Marabú,Coyotes
80,81,14,Caballos,Vacas,Morsa,Cucaracha
81,82,11,Gatos,Conejos,Demonio de Tasmania,Ratones
82,83,79,Delfines,Elefante,Gineta manchada,Flamingso
83,84,31,Capibaras,Tortugas,Gecko leopardo,Humano
84,85,52,Elefantes,Koalas,Hienas,Tucán
85,86,17,Vacas,Elefante,Gatos,Cucaracha
86,87,73,Capibaras,Ovejas,Oso polar,Mirlos
87,88,11,Ovejas,Alpacas,Lechuza,Pez globo
88,89,51,Hienas,Tortugas,Gatos,Avestruz
89,90,18,Leones,Cobayos,Comadrejas,Gorrión
90,91,34,Delfines,Ciervos,Nutrias,Hormigas
91,92,59,Leones,Cebras,Tiburón peregrino,Coatí
92,93,50,Caballos,Ovejas,Caimán,Cucaracha
93,94,62,Ballenas,Tapires,Gavilán pollero,Cisnes
94,95,64,Gatos,Ciervos,Cuervo,Ñandú
95,96,3,Rinocerontes,Vacas,Tollo cigarro,Osos
96,97,30,Elefantes,Ovejas,Visón europeo,Zorzal
97,98,35,Seres humanos,Alpacas,Linces,Cisnes
98,99,61,Gatos,Vacas,Albatros,Calamón
99,100,61,Seres humanos,Ardillas,León,Urracas

In [17]:
df2

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,1,17,Seres humanos,Mariposa cervantes,Cocodrilo,Ardillas,Corzos
1,2,10,Ranas arborícolas,Cucarachas,Pingüino,Chinche del campo,Ciervo de los pantanos
2,3,48,Sapos comunes,Mariposa macaón,Cóndor,Lémur,Búfalo de agua
3,4,90,Gaviotas,Mariposa medioluto,Víbora de cascabel,Chinche del campo,Ciervo porcino
4,5,43,Águilas,Libélulas,Gorrión,Tortuga terrestre,Ovejas
5,6,12,Leones,Pulgas,Pato,Mosca de la fruta,Candelillo
6,7,48,Pavos,Luciérnaga,Hornero,Conejo del campo,Urial
7,8,17,Peces vela,Termes,Gorrión,Mono aullador,Toros
8,9,19,Ajolotes,Grillos,Pingüino,Orangután,Renos
9,10,73,Camaleones,Mariquitas,Pato,Murciélago frugívoro,Niala
10,11,68,Carpas,Mariposa cervantes,Pingüino,Macacos,Venado andino
11,12,63,Leones,Mariposa nacarada,Guacamayo,Chinche del campo,Gamo común
12,13,52,Barracudas,"Chinche roja, zapatero",Salmón,Mono aullador,Gacela de Grant
13,14,95,Gallipatos,Avispa scolia,Guacamayo,Tupaya enana,Renos
14,15,99,Canguros,Moscas cernícalo,Gorrión,Ardillas,Apacas
15,16,66,Microsaurios (extintos),Mariposa ajedrezada menor,Codorniz,Bonobos,Anoa de montaña
16,17,30,Anguilas de mar,Mariposa macaón,Rana,Chinche del campo,Alces
17,18,92,Peces espada,Mariposa cervantes,Cocodrilo,Tapir,Toros
18,19,51,Koi japoneses,Caracoles,Pato,Pacú,Anoa de llanura
19,20,72,Sapos gigantes,Mariposa esfinge colibrí,Guacamayo,Gorilas,Llamas
20,21,38,Lenguados,Hormigas león,Loro,Lémur,Ñu
21,22,69,Capibaras,Mariposa macaón,Cocodrilo,Mosca de la fruta,Urial
22,23,41,Proteos,Polilla,Ganso,Conejo del campo,Gacela de Grant
23,24,66,Mosasaurios (extintos),Libélulas,Cocodrilo,Tapir,Uapití
24,25,41,Pájaros carpinteros,Tábanos,Ganso,Zorro volador,Anoa de montaña
25,26,24,Peces payaso,Medusas,Cigüeña,Tapir,Ovejas
26,27,39,Cóndores,Escarabajos acuáticos,Paloma,Bonobos,Urial
27,28,13,Peces luna,Cochinillas de humedad,Pingüino,Ardillas,Gayal
28,29,3,Gallipatos,Escarabajos,Águila,Chimpancés,Ciervo porcino
29,30,41,Tortugas terrestres,Pulgas,Víbora de cascabel,Zarigüeya,Cabras
30,31,45,Ranas de Darwin,Escarabajos,Gorrión,Chinche del campo,Venado andino
31,32,13,Ranas venenosas,Mariposa sesia,Pato,Mono Tití,Gacela de Grant
32,33,20,Canguros,Escarabajos,Codorniz,Orangután,Vicuña
33,34,66,Carpas,"Chinche roja, zapatero",Abeja,Tucán,Búfalo de agua
34,35,52,Boas constrictoras,Ciempiés,Abeja,Zorro volador,Venado andino
35,36,35,Gallinas,Mariposa macaón,Cóndor,Murciélago frugívoro,Vicuña
36,37,55,Tuátaras de Nueva Zelanda,Tábano bombilius,Gorrión,Chimpancés,Cabras
37,38,42,Ajolotes,Mariposa del almez,Avestruz,Murciélago frugívoro,Urial
38,39,51,Seres humanos,Ácaros,Cocodrilo,Orangután,Gamo común
39,40,33,Salamandras gigantes chinas,Luciérnaga,Hormiga,Pacú,Ñu
40,41,76,Patos,Escarabajo fitófago,Hormiga,Mono Tití,Antílope de cuatro cuernos
41,42,58,Barracudas,Libélula emperador,Ganso,Tucán,Ovejas
42,43,25,Delfines,Pulgones,Ganso,Iguana,Bisonte europeo
43,44,77,Salamandras sin pulmón,Hormigas león,Hormiga,Mosca de la fruta,Uapití
44,45,38,Monstruos de Gila,Milpiés,Gallina,Lirón,Cebú
45,46,45,Buitres,Cigarra o chicharra,Gallina,Gibón,Gayal
46,47,79,Gatos,Escarabajo fitófago,Rana,Ardillas,Corzuela
47,48,95,Atunes,Araña cangrejo,Águila,Tucán,Ciervo de copete
48,49,90,Pterosaurios (extintos),Tábano bombilius,Rana,Mono aullador,Cabras
49,50,23,Lagartijas comunes,"Chinche roja, zapatero",Rana,Zorro volador,Gamo común
50,51,4,Ratones,Araña cangrejo,Cocodrilo,Tapir,Íbice de los Alpes
51,52,93,Las agujas de río,Arañas,Cocodrilo,Pacú,Llamas
52,53,62,Peces abisales,Ciempiés,Pingüino,Gorilas,Cabras
53,54,65,Leones,Mariposa limonera,Paloma,Loros,Íbice de los Alpes
54,55,88,Buitres,Hormigas león,Ganso,Bonobos,Renos
55,56,93,Tuátaras de Nueva Zelanda,Cucarachas,Gorrión,Tortuga terrestre,Bisonte americano
56,57,17,Cigüeñas,Pulgones,Cocodrilo,Zorro volador,Ciervo de copete
57,58,72,Boas constrictoras,Polilla,Ganso,Lémur,Venado de las Pampas
58,59,6,Koi japoneses,Cucarachas,Paloma,Tortuga terrestre,Candelillo
59,60,45,Delfines,Escarabajo,Cigüeña,Tapir,Gayal
60,61,26,Aligátores,Tijeretas,Pato,Bonobos,Llamas
61,62,81,Canguros,Moscas domésticas,Loro,Lirón,Vacas
62,63,38,Proteos,Araña cangrejo,Víbora de cascabel,Mosca de la fruta,Uapití
63,64,16,Lisorofios (extintos),Mariposa lobito agreste,Cocodrilo,Mosca de la fruta,Impala
64,65,51,Tortugas galápagos,"Chinche roja, zapatero",Águila,Chinche del campo,Candelillo
65,66,100,Pavorreales,Pulgones,Salmón,Tortuga terrestre,Búfalo de agua
66,67,30,Sapos corredores,Medusas,Pato,Mono aullador,Ciervo porcino
67,68,66,Delfines,Mariposa del almez,Cóndor,Gibón,Venado andino
68,69,38,Cigüeñas,Moscardones,Rana,Pacú,Bisonte estepario
69,70,82,Ranas de Seychelles,Chinches,Rana,Tortuga terrestre,Nilgó
70,71,1,Avestruces,Termes,Gallina,Tupaya enana,Gayal
71,72,23,Iguanas,"Chinche roja, zapatero",Hornero,Lémur,Venado temazate
72,73,7,Colibríes,Pulgas,Cóndor,Gorilas,Ñu
73,74,9,Ranas toro africanas,Garrapata,Gorrión,Chinche del campo,Búfalo de agua
74,75,100,Gallipatos,Araña de patas largas,Paloma,Bonobos,Oryx
75,76,17,Esturiones,Tijeretas,Ganso,Orangután,Impala
76,77,57,Koi japoneses,Moscas cernícalo,Pato,Iguana,Candelillo
77,78,72,Peces globo,Escarabajo fitófago,Guacamayo,Tupaya enana,Gacela de Grant
78,79,65,Ballenas,Cigarra o chicharra,Cigüeña,Gorilas,Corzos
79,80,90,Chimpancés,Libélulas,Guacamayo,Bonobos,Anoa de llanura
80,81,18,Rinocerontes,Hormigas león,Águila,Zarigüeya,Candelillo
81,82,78,Tortugas acuáticas,Mariposa dorada,Loro,Tortuga terrestre,Alce irlandés
82,83,84,Gaviotas,Tábano bombilius,Cocodrilo,Tapir,Corzuela
83,84,13,Canarios,Cucarachas,Gallina,Mono aullador,Impala
84,85,17,Cecilias,Escarabajo,Águila,Chimpancés,Alce irlandés
85,86,39,Ranas toro africanas,Mariposa sesia,Abeja,Pacú,Bisonte estepario
86,87,6,Pavorreales,Mariposa ícaro,Avestruz,Tortuga terrestre,Renos
87,88,98,Peces globo,Piojos,Abeja,Loros,Impala
88,89,92,Ranas arcoíris,Cigarra o chicharra,Ganso,Mono Tití,Venado temazate
89,90,95,Lenguados,Mariposa blanquita de la col,Víbora de cascabel,Macacos,Sambar
90,91,34,Ajolotes,Tábanos,Pingüino,Conejo del campo,Anoa de montaña
91,92,36,Faisanes,Ácaros,Cocodrilo,Pericos,Ciervo axis
92,93,69,Cigüeñas,Caballito del diablo,Gorrión,Gibón,Impala
93,94,63,Faisanes,Arañas,Águila,Mono aullador,Niala
94,95,58,Chimpancés,Mariposa del almez,Águila,Murciélago frugívoro,Alces
95,96,20,Leones,Mantis religiosa,Víbora de cascabel,Tortuga terrestre,Renos
96,97,4,Cecilias,Hormigas león,Avestruz,Tortuga terrestre,Antílope de cuatro cuernos
97,98,68,Aligátores,Cochinillas de humedad,Hornero,Pericos,Alce irlandés
98,99,88,Peces espada,Escarabajos acuáticos,Abeja,Murciélago frugívoro,Oryx
99,100,94,Gallinas,Cochinillas de humedad,Águila,Tucán,Vacas

In [22]:
# genera registro por cada coincidencia, como una especie de CROSS JOIN
display(df1.query("Mamíferos == 'Gorilas'"))
display(df2.query("Frugívoros == 'Gorilas'"))
print('-----------------------------------------------------')
display(df1.query("Mamíferos == 'Chimpancés'"))
display(df2.query("Frugívoros == 'Chimpancés'"))

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
19,20,86,Gorilas,Lagartos voladores australianos,Koi japoneses,Sapos comunes,Águilas
81,82,47,Gorilas,Lagartos voladores australianos,Peces abisales,Ranas de Seychelles,Faisanes

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
19,20,72,Sapos gigantes,Mariposa esfinge colibrí,Guacamayo,Gorilas,Llamas
52,53,62,Peces abisales,Ciempiés,Pingüino,Gorilas,Cabras
72,73,7,Colibríes,Pulgas,Cóndor,Gorilas,Ñu
78,79,65,Ballenas,Cigarra o chicharra,Cigüeña,Gorilas,Corzos

-----------------------------------------------------

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
66,67,35,Chimpancés,Basiliscos,Los tiburones ballena,Sapos corredores,Águilas
80,81,38,Chimpancés,Mosasaurios (extintos),Anguilas de mar,Salamandras gigantes chinas,Gallinas
93,94,18,Chimpancés,Cocodrilos,Las agujas de río,Ranas venenosas,Guacamayas

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
28,29,3,Gallipatos,Escarabajos,Águila,Chimpancés,Ciervo porcino
36,37,55,Tuátaras de Nueva Zelanda,Tábano bombilius,Gorrión,Chimpancés,Cabras
84,85,17,Cecilias,Escarabajo,Águila,Chimpancés,Alce irlandés

In [5]:
#join_dataframe(df1, df2, tipo_de_join='COLUMNS', llaves_para_join = ['Mamíferos','Vertebrados'])
join_dataframe(df1, df2, llaves_para_join = ['Mamíferos','Frugívoros'], tipo_de_join='COLUMNS', mostrar_tipo_join=True)

joins_disponibles = ['inner', 'left', 'right', 'outer', 'cross', 'self', 'index', 'columns']
merge parametros-> pandas.merge(df_left, df_right, how=['inner', 'left', 'right', 'outer', 'cross', 'self', 'index', 'columns'], on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), left_on=Mamíferos, right_on=Frugívoros, sort=False, indicator=True)
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

,Id_x,Lider_x,Mamíferos,Reptiles,Peces,Anfibios,Aves,Id_y,Lider_y,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,_merge
0,20,86,Gorilas,Lagartos voladores australianos,Koi japoneses,Sapos comunes,Águilas,20,72,Sapos gigantes,Mariposa esfinge colibrí,Guacamayo,Gorilas,Llamas,both
1,20,86,Gorilas,Lagartos voladores australianos,Koi japoneses,Sapos comunes,Águilas,53,62,Peces abisales,Ciempiés,Pingüino,Gorilas,Cabras,both
2,20,86,Gorilas,Lagartos voladores australianos,Koi japoneses,Sapos comunes,Águilas,73,7,Colibríes,Pulgas,Cóndor,Gorilas,Ñu,both
3,20,86,Gorilas,Lagartos voladores australianos,Koi japoneses,Sapos comunes,Águilas,79,65,Ballenas,Cigarra o chicharra,Cigüeña,Gorilas,Corzos,both
4,82,47,Gorilas,Lagartos voladores australianos,Peces abisales,Ranas de Seychelles,Faisanes,20,72,Sapos gigantes,Mariposa esfinge colibrí,Guacamayo,Gorilas,Llamas,both
5,82,47,Gorilas,Lagartos voladores australianos,Peces abisales,Ranas de Seychelles,Faisanes,53,62,Peces abisales,Ciempiés,Pingüino,Gorilas,Cabras,both
6,82,47,Gorilas,Lagartos voladores australianos,Peces abisales,Ranas de Seychelles,Faisanes,73,7,Colibríes,Pulgas,Cóndor,Gorilas,Ñu,both
7,82,47,Gorilas,Lagartos voladores australianos,Peces abisales,Ranas de Seychelles,Faisanes,79,65,Ballenas,Cigarra o chicharra,Cigüeña,Gorilas,Corzos,both
8,67,35,Chimpancés,Basiliscos,Los tiburones ballena,Sapos corredores,Águilas,29,3,Gallipatos,Escarabajos,Águila,Chimpancés,Ciervo porcino,both
9,67,35,Chimpancés,Basiliscos,Los tiburones ballena,Sapos corredores,Águilas,37,55,Tuátaras de Nueva Zelanda,Tábano bombilius,Gorrión,Chimpancés,Cabras,both
10,67,35,Chimpancés,Basiliscos,Los tiburones ballena,Sapos corredores,Águilas,85,17,Cecilias,Escarabajo,Águila,Chimpancés,Alce irlandés,both
11,81,38,Chimpancés,Mosasaurios (extintos),Anguilas de mar,Salamandras gigantes chinas,Gallinas,29,3,Gallipatos,Escarabajos,Águila,Chimpancés,Ciervo porcino,both
12,81,38,Chimpancés,Mosasaurios (extintos),Anguilas de mar,Salamandras gigantes chinas,Gallinas,37,55,Tuátaras de Nueva Zelanda,Tábano bombilius,Gorrión,Chimpancés,Cabras,both
13,81,38,Chimpancés,Mosasaurios (extintos),Anguilas de mar,Salamandras gigantes chinas,Gallinas,85,17,Cecilias,Escarabajo,Águila,Chimpancés,Alce irlandés,both
14,94,18,Chimpancés,Cocodrilos,Las agujas de río,Ranas venenosas,Guacamayas,29,3,Gallipatos,Escarabajos,Águila,Chimpancés,Ciervo porcino,both
15,94,18,Chimpancés,Cocodrilos,Las agujas de río,Ranas venenosas,Guacamayas,37,55,Tuátaras de Nueva Zelanda,Tábano bombilius,Gorrión,Chimpancés,Cabras,both
16,94,18,Chimpancés,Cocodrilos,Las agujas de río,Ranas venenosas,Guacamayas,85,17,Cecilias,Escarabajo,Águila,Chimpancés,Alce irlandés,both

# <center>**DIVIDIR UNA COLUMNA EN OTRAS COLUMNAS USANDO UN CARACTER ESPECIFICO**</center>

In [ ]:
json_base.Anfibios.str.split(" ", expand=True)

In [ ]:
json_base.Anfibios.str.split(" ", n = 1, expand=True)

# <center>**OPERACIONES SOBRE UNA COLUMNA DE UN DATAFRAME**</center>

In [ ]:
import random

valores= {'numeros':[random.randint(-10, 10) for numero in range(10)]}
dataset_numeros = pd.DataFrame(valores)

print(valores)
print(f'total numeros SIN VALORES NULOS {dataset_numeros["numeros"].count()}')
print(f'suma de los numeros {dataset_numeros["numeros"].sum()}')
print(f'media {dataset_numeros["numeros"].mean()}')
print(f'desviacion media absoluta {dataset_numeros["numeros"].mad()}')
print(f'mediana {dataset_numeros["numeros"].median()}')

print(f'minimo {dataset_numeros["numeros"].min()}')
print(f'maximo {dataset_numeros["numeros"].max()}')

print(f'moda {dataset_numeros["numeros"].mode()}')
print(f'valor absoluto {dataset_numeros["numeros"].abs()}')

# <center>**GROUP BY**</center>

# <center>**DATASET PELICULAS**</center>

In [ ]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/rotten_tomatoes_movies.csv'
# carga el dataset
dataset_peliculas = pd.read_csv(archivo)

In [ ]:
# creo una columna como index
dataset_peliculas['index'] = range(0,dataset_peliculas.shape[0])
dataset_peliculas = dataset_peliculas.set_index('index')
print(dataset_peliculas.columns.to_list())

# define las etiquetas con que se crearan las nuevas columnas 
etiquetas_actores = ["PROTAGONISTA", "CO_PROTAGONISTA", "TERCER_PROTAGONISTA", "ACTORES_DE_REPARTO"]
etiquetas_directores = ["DIRECTOR_PRINCIPAL", "DIRECTOR_SECUNDARIO", "DIRECTORES_AUXILIARES"]
etiquetas_generos = ["GENERO_PRINCIPAL", "GENERO_SECUNDARIO", "GENEROS_AUXILIARES"]

# crea unos nuevos datasets con las columnas requeridas
actores = dataset_peliculas.actors.str.split(",", n = 3, expand = True).rename(columns={indice:actor for indice, actor in enumerate(etiquetas_actores)})
directores = dataset_peliculas.directors.str.split(",", n = 2, expand = True).rename(columns={indice:director for indice, director in enumerate(etiquetas_directores)})
generos = dataset_peliculas.genres.str.split(",", n = 2, expand = True).rename(columns={indice:genero for indice, genero in enumerate(etiquetas_generos)})

# une los dataframes en 1 solo
actores_directores_generos = pd.merge(pd.merge(actores, directores, left_index=True, right_index=True), generos, left_index=True, right_index=True)
dataset_completo  = pd.merge(dataset_peliculas, actores_directores_generos, left_index=True, right_index=True)

# elimina las columnas que ya fueron divididas
dataset_depurado = dataset_completo.drop(columns=['actors','directors','genres'])
print('--------------------------------')
print(dataset_depurado.columns.to_list())

dataset_peliculas.head()

In [ ]:
# define el numero de decimales en el dataframe
dataset_depurado.describe().round(decimals=2)

# <center>**ENCONTRAR EL INDICE Y EL VALOR DONDE ESTA EL VALOR MAXIMO DE UNA COLUMNA**</center>

In [ ]:
columna_base = 'runtime'
columna_objetivo = 'movie_title'
indice = dataset_depurado[columna_base].idxmax()
duracion = dataset_depurado[columna_base].max()

# metodo ._get_value()
nombre = dataset_depurado._get_value(indice,columna_objetivo)

display(f'La pelicula que MAS dura esta ubicada en la fila -> {indice}')
display(f'con una duracion de {duracion} minutos')
display(f'y su nombre es : {nombre}')

# crea el dtaframe con la informacion solicitada
pd.DataFrame(dataset_depurado, columns=[columna_base,columna_objetivo])[indice:indice+1]

# <center>**ENCONTRAR EL INDICE Y EL VALOR DONDE ESTA EL VALOR MINIMO DE UNA COLUMNA**</center>

In [ ]:
columna_base = 'runtime'
columna_objetivo = 'movie_title'
indice = dataset_depurado[columna_base].idxmin()
duracion = dataset_depurado[columna_base].min()
nombre = dataset_depurado._get_value(indice,columna_objetivo)

display(f'La pelicula que MENOS dura esta ubicada en la fila -> {indice}')
display(f'con una duracion de {duracion} minutos')
display(f'y su nombre es : {nombre}')

# crea el dtaframe con la informacion solicitada
pd.DataFrame(dataset_depurado, columns=[columna_base,columna_objetivo])[indice:indice+1]

# <center>**VALOR MAXIMO Y MINIMO DE CADA COLUMNA**</center>
## <center>**idmax Y idmin**, solo funciona con columnas de valores numericos</center>

In [ ]:
df1.max()

In [ ]:
df1.min()

# <center>**ENCONTRAR EL INDICE DE AGRUPAMIENTO Y EL VALOR PROMEDIO DE UNA COLUMNA**</center>
## <center>**FILTRO MULTICOLUMNA**</center>

In [ ]:
columna_base = 'DIRECTOR_PRINCIPAL'
columna_objetivo = 'audience_count'
columna_objetivo2 = 'audience_rating'

agrupacion_por_director = dataset_depurado.groupby(by=columna_base)[[columna_objetivo,columna_objetivo2]].mean()
agrupacion_por_director.sort_values(by=columna_objetivo, ascending=False)

# <center>**AGRUPAR Y ENCONTRAR EL MAXIMO**</center>

In [ ]:
director = agrupacion_por_director[columna_objetivo].idxmax()
rating  = agrupacion_por_director._get_value(director,columna_objetivo)

agrupacion_por_director[[columna_objetivo,columna_objetivo2]][director:director]

# <center>**AGRUPAR Y ENCONTRAR EL MINIMO**</center>

In [ ]:
director = agrupacion_por_director[columna_objetivo].idxmin()
rating  = agrupacion_por_director._get_value(director,columna_objetivo)


valores = f'director = {director}, rating = {rating}, columna_base = {columna_base}, columna_objetivo = {columna_objetivo}, columna_objetivo2 = {columna_objetivo2}'
print(valores)

agrupacion_por_director[[columna_objetivo,columna_objetivo2]][director:director]

# <center>**AGRUPAR Y ENCONTRAR LA MEDIA**</center>

In [ ]:
print(valores)
display(dataset_depurado.get('rating',dataset_depurado.runtime.mean()))

# <center>**AGRUPAR Y ENCONTRAR LA MODA**</center>

In [ ]:
print(valores)
display(dataset_depurado.get('rating',dataset_depurado.runtime.mode()))

# <center>**AGRUPAR Y CONTAR**</center>

In [ ]:
print(valores)
display(dataset_depurado.get('rating',dataset_depurado.runtime.count()))

# <center>**AGRUPAR Y SUMAR**</center>

In [ ]:
print(valores)
display(dataset_depurado.get('rating',dataset_depurado.runtime.sum()))

In [ ]:
nobel = pd.read_csv('https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/nobel_prize.csv')
nobel.head()

## <center>**AGRUPAMIENTO COLUMNA UNICA**</center>

In [ ]:
print(list(nobel.category.unique()))

## <center>**GENERA UN OBJETO DataFrameGroupBy AL USAR EL GROUP BY"**</center>

In [ ]:
columna_unica = nobel.groupby(by='category')
columna_unica

### filtrar por un valor de la columna agrupada

In [ ]:
columna_unica.get_group('Chemistry')

## <center>**AGRUPAMIENTO MULTICOLUMNA**</center>

In [ ]:
# da la posibilidad de usar una lista de campos para agrupar
columnas = ['category', 'awardYear']

multi_columna = nobel.groupby(by=columnas)
multi_columna

In [ ]:
#debe contener una tupla con los valores a filtrar y los valores TIENEN que existir
grouped = multi_columna.get_group(('Chemistry',2004))
grouped

## <center>**GENERA UNA SERIE, FILTRANDO CON UN INDICE, "CON UN SOLO CORCHETE"**</center>

In [ ]:
# se pone el valor entre 2 corchetes para luego poder acceder a la informacion [['columnas_filtro']]
columnas_agrupamiento = ['category', 'awardYear']
columnas_filtro = 'categoryFullName'

filtro = nobel.groupby(by=columnas_agrupamiento)[columnas_filtro].sum()
print(type(filtro))
filtro.head()

## <center>**GENERA UN DATAFRAME, FILTRANDO CON UNA COLUMNA, "CON DOBLE CORCHETE"**</center>

In [ ]:
# se pone el valor entre 2 corchetes para luego poder acceder a la informacion [['columnas_filtro']]
columnas_agrupamiento = ['category', 'awardYear']
columnas_filtro = 'categoryFullName'

filtro = nobel.groupby(by=columnas_agrupamiento)[[columnas_filtro]].sum()
print(type(filtro))
filtro.head()

In [ ]:
# se pone el valor entre 2 corchetes o una lista como argumento para luego poder acceder a la informacion ['columnas_filtro']
columnas_agrupamiento = ['category', 'awardYear']
columnas_filtro = ['prizeAmount','sortOrder']

filtro = nobel.groupby(by=columnas_agrupamiento)[columnas_filtro].sum()
print(type(filtro))
filtro.head()

# <center>**ENCONTRAR EL INDICE DE AGRUPAMIENTO Y EL VALOR DONDE ESTA EL VALOR MAXIMO DE UNA COLUMNA**</center>

In [ ]:
indices_agrupamiento = ['category','categoryFullName','awardYear','prizeStatus']
columna_objetivo = 'prizeAmount'

# crea multiples indices y una sola columna base
agrupacion_indices_agrupamiento = nobel\
                                        .groupby(by=indices_agrupamiento)\
                                        [[columna_objetivo]]\
                                        .sum()

# registro con el valor maximo de cada columna basado en la columna filtro
registro_valores_filtrados = agrupacion_indices_agrupamiento[columna_objetivo]\
                                                                                .idxmax()

# valor especifico de la columna objetivo
valor_columna_objetivo = agrupacion_indices_agrupamiento\
                                                        [columna_objetivo]\
                                                        [registro_valores_filtrados]

# valor especifico de la columna objetivo otra forma
# valor especifico filtrado de la columna objetivo obtenido con los valores del registro_valores_filtrados 
valor_columna_objetivo_forma_2 = agrupacion_indices_agrupamiento\
                                                                ._get_value(registro_valores_filtrados, columna_objetivo)

display(f'El registro_valores_filtrados MAS usado es -> {registro_valores_filtrados}')
display(f'y el valor acumulado mas alto de {columna_objetivo} es : {valor_columna_objetivo}')

# crea el dataframe con la informacion solicitada
agrupacion_indices_agrupamiento[columna_objetivo]\
                                                [registro_valores_filtrados:registro_valores_filtrados]\
                                                .to_frame()

# <center>**ENCONTRAR EL INDICE DE AGRUPAMIENTO Y EL VALOR DONDE ESTA EL VALOR MINIMO DE UNA COLUMNA**</center>

In [ ]:
# registro con el valor maximo de cada columna basado en la columna filtro
registro_valores_filtrados = agrupacion_indices_agrupamiento[columna_objetivo]\
                                                                                .idxmin()

# valor especifico de la columna objetivo
valor_columna_objetivo = agrupacion_indices_agrupamiento\
                                                        [columna_objetivo]\
                                                        [registro_valores_filtrados]

# valor especifico de la columna objetivo otra forma
# valor especifico filtrado de la columna objetivo obtenido con los valores del registro_valores_filtrados 
valor_columna_objetivo_forma_2 = agrupacion_indices_agrupamiento\
                                                                ._get_value(registro_valores_filtrados, columna_objetivo)

display(f'El registro_valores_filtrados MAS usado es -> {registro_valores_filtrados}')
display(f'y el valor acumulado mas alto de {columna_objetivo} es : {valor_columna_objetivo}')

# crea el dataframe con la informacion solicitada
agrupacion_indices_agrupamiento[columna_objetivo]\
                                                [registro_valores_filtrados:registro_valores_filtrados]\
                                                .to_frame()

# <center>**FUNCIONES SOBRE EL AGRUPADO**</center>

In [ ]:
limite = 100
valores = {'departamento':[random.choice(['Bebes','Adolescentes','Adultos','Adultos Mayores','Mascotas']) for valor in range(limite)],
 'publico':[random.choice(['Niña','Niño','Hombre','Mujer']) for valor in range(limite)],
 'disponibilidad':[valor * random.randint(1,1000) for valor in range(limite)],
 'precio':[valor * random.randint(1,100) for valor in range(limite)]
}

ejemplo = pd.DataFrame(valores)
ejemplo

# <center>**AGRUPAR**</center>

In [ ]:
ej = ejemplo.groupby(['publico','departamento'])

# <center>**INFORMACION DE AGRUPADO**</center>

In [ ]:
ej.groups

In [ ]:
ej.indices

### <center>**MAXIMO**</center>

In [ ]:
max(ej.idxmax())

In [ ]:
valor = ej.idxmax()
display(valor)
indice = valor[0:1].disponibilidad.values[0]
print(f'indice {indice}')
ejemplo[indice:indice+1]

In [ ]:
ejemplo.disponibilidad.max()

In [ ]:
ejemplo.sort_values('disponibilidad', ascending=False)

### <center>**MINIMO**</center>

In [ ]:
valor = ej.idxmin()
display(valor)
indice = valor[0:1].precio.values[0]
print(f'indice {indice}')
ejemplo[indice:indice+1]

In [ ]:
ej.plot()

# <center>**FUNCIONES DE AGREGADO**</center>

In [ ]:
ej.sum()

In [ ]:
# count,size,sum,mean,average,std,var,sem,describe,min,max,first,last,nth
ej.agg(
    {"disponibilidad": [sum, max, min, 'std'], "precio": ['mean','median','std','first','last']})

In [ ]:
ej.aggregate(
    {"disponibilidad": [sum, max, min, 'std'], "precio": ['mean','median','std','first','last']})

# <center>**STACK, UNSTACK, PIVOT TABLE**</center>

In [ ]:
dataframe = pd.read_csv('groupby_pivot_table')
dataframe.head()

# <center>**STACK,GENERA SERIE Y AGRUPA POR FILAS CONTRA COLUMNAS**</center>

In [ ]:
dataframe.stack()

# <center>**UNSTACK, ELIMINA LA ULTIMA AGRUPACION DADA Y GENERA UNA SERIE** FILA x FILA</center>

In [ ]:
dataframe.unstack()

# CONTEO DE COLUMNAS AGRUPADAS, **SIZE** GENERA SERIE

In [ ]:
display(values)
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).size()

# CONTEO DE COLUMNAS AGRUPADAS, **COUNT** GENERA DATAFRAME

In [ ]:
display(values)
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).count()

# COMPARACION COLUMNAS AGRUPADAS

In [ ]:
# solo compara las columnas agrupadas
dataframe.groupby(by=['Uno','Dos','Tres']).count().unstack()

# size y luego unstack genera dataframe y evita duplicar valores de agrupamiento con las demas columnas

In [ ]:
dataframe.groupby(by=['Uno','Dos','Tres']).size().unstack()

# solo compara las columnas agrupadas

In [ ]:
dataframe.groupby(by=['Uno','Dos','Tres']).size().unstack(fill_value=0)

# agrupa por las primeras columnas y compara contra la ultima columna del array

In [ ]:
display(dataframe.query("Uno =='Amarillo' and Dos == 'Rojo' and Tres =='Azul' "))
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).size().unstack(fill_value=0)

# agrupa con TABLA PIVOTE por la columnas declaradas en el parametro index y compara contra el parametro columns
# el parametro value puede contener cualquier nombre de cualquier columna, eso elimina el nombre de las columnas que no son declaradas para el agrupamiento

# agrupacion multiples indices

In [ ]:
display(dataframe.query("Uno =='Amarillo' and Dos == 'Rojo' and Tres =='Azul' "))
pd.pivot_table(dataframe, values='Uno', index=['Uno','Dos','Tres'],
                    columns=['Cuatro'], aggfunc='count', fill_value=0)

In [ ]:
# por eliminar el parametro 'values', muestra el nombre de las columnas que no son solicitadas, duplicando los datos de la columna con que se quiere comparar
display(dataframe.query("Uno =='Amarillo' and Dos == 'Rojo' and Tres =='Azul' "))
pd.pivot_table(dataframe, index=['Uno','Dos'],
                    columns=['Cuatro'], aggfunc='count', fill_value=0)

# agrupacion multiples columnas declaradas

In [ ]:
display(dataframe.query("Uno =='Amarillo' and Dos == 'Rojo' and Tres =='Azul' "))
pd.pivot_table(dataframe, values='Uno', index=['Uno','Dos',],
                    columns=['Tres','Cuatro'], aggfunc='count', fill_value=0)

In [ ]:
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).size().unstack(level=['Tres','Cuatro'], fill_value=0).sort_index(axis=1)

## usando indices

In [ ]:
display(values)

# participan todas la columnas
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).size().unstack(level=[2,3], fill_value=0).sort_index(axis=1)

In [ ]:
# Cruce de agrupado con columna especifica mostrando valores en comun sin repetir
dataframe.query(" Uno=='Amarillo' and Dos =='Rojo' ")

In [ ]:
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).Cinco.size().unstack(level=[2,3], fill_value=0).sort_index(axis=1).head(3)

In [ ]:
dataframe.groupby(by=['Uno','Dos','Tres','Cuatro']).Cinco.unique().unstack(level=[2,3], fill_value=0).sort_index(axis=1).head(3)

# GRAFICOS

# <center>**HABILITAR PLOTLY EN PANDAS**</center>

In [ ]:
datos_graficas = df1.sample(10)
datos_graficas

In [ ]:
print(datos_graficas.Peces)
df_otro = pd.DataFrame(datos_graficas, columns=['Lider','Peces'])
df_otro= df_otro.set_index('Peces')

df_otro.plot.pie(y ='Lider')
#df_otro

In [ ]:
! pip install cufflinks

In [ ]:
pd.options.plotting.backend = "plotly"
pd.options.plotting.backend = 'matplotlib'

import numpy as np
# Let's create a random data with numpy
df = pd.DataFrame(np.random.rand(200, 4), columns='A B C D'.split())

# check the data once
df.head()

# <center>**GRAFICO LINEAS**</center>

In [ ]:
df = pd.DataFrame({'mass': [0.330, 4.87 , 5.97],
                   'radius': [2439.7, 6051.8, 6378.1]},
                  index=['Mercury', 'Venus', 'Earth'])
plot = df.plot.pie(subplots=True)

In [ ]:
df.plot()

In [ ]:
df.plot(kind='line')

In [ ]:
df.plot.line(backend='plotly')

# <center>**GRAFICO DISPERSION**</center>

In [ ]:
df.plot.scatter(x='A', y='B')

In [ ]:
pd.options.plotting.backend = "plotly"
df.plot.scatter(x='A', y='B')

# <center>**GRAFICO DE BARRAS VERTICALES**</center>

In [ ]:
pd.options.plotting.backend = 'matplotlib'
df.plot.bar()

# <center>**GRAFICO DE BARRAS HORIZONTALES**</center>

In [ ]:
# muestra el valor acumulado de una columna

df = pd.DataFrame({'radius': [2439.7, 4051.8, 6378.1],
                   'mass': [0.330, 5.97 , 5.97]},
                  index=['Mercury', 'Venus', 'Earth'])

df.plot.barh(backend='plotly')

In [ ]:
df = pd.DataFrame({'radius': [2439.7, 4051.8, 6378.1],
                   'mass': [0.330, 500 , 1297]},
                  index=['Mercury', 'Venus', 'Earth'])

#df.plot.hist(backend='plotly')
df.plot.hist()

In [ ]:
df.plot.hist(backend='plotly')

In [ ]:
df = pd.DataFrame({'radius': [2439.7, 4051.8, 6378.1],
                   'mass': [3.87, 3.87 , 5.97]},
                  index=['Mercury', 'Venus', 'Earth'])
df.hist()

In [ ]:
x = pd.DataFrame({'valores':[-5,-98,-3,-3,-3,-3,-1, 8, 13, 98], 'index':list('abcdeftyui')})
x = x.set_index('index')
x.plot.bar(backend='plotly')

In [ ]:
len(list('abcdeftyui'))

# <center>**GRAFICO DE AREA**</center>

In [ ]:
df.plot.area(backend='plotly')

# <center>**GRAFICO DE HISTOGRAMA**</center>

In [ ]:
df.plot.hist(backend='plotly')

# <center>**GRAFICO DE CAJA**</center>

In [ ]:
df.plot.box(backend='plotly')

In [ ]:
#!pip install plotly
#!pip install seaborn

import pandas as pd
#pd.options.plotting.backend = "plotly"

In [ ]:
import seaborn as sns
df = sns.load_dataset('tips')
df

In [ ]:
df[['total_bill', 'tip', 'size']].plot(kind='line')

In [ ]:
df.plot(kind='scatter', x='total_bill', y='tip')

In [ ]:
df['day'].value_counts().plot(kind='bar')

In [ ]:
df[['total_bill', 'tip']].plot(kind='hist')

In [ ]:
df[['total_bill', 'tip']].plot(kind='box')

In [ ]:
df[['total_bill', 'tip']].plot(kind='area')

In [ ]:
df.groupby('day')['day', 'total_bill'].sum().reset_index().plot(kind='pie', x='day', y='total_bill');

In [ ]:
df['day'].value_counts().plot_bokeh(kind='bar', alpha=0.7);

In [ ]:
df['total_bill'].plot_bokeh(kind='hist', bins=10, alpha=0.7);

In [ ]:
df[['total_bill', 'tip']].plot_bokeh(kind='area', alpha=0.6);

In [ ]:
import plotly.tools as tls
tls.embed('https://plotly.com/~chris/7365')