In [1]:
!python -V
!pip show pandas pip

Python 3.10.7
Name: pandas
Version: 1.4.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\users\qidimmak\appdata\local\programs\python\python310\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: itables
---
Name: pip
Version: 22.2.2
Summary: The PyPA recommended tool for installing Python packages.
Home-page: https://pip.pypa.io/
Author: The pip developers
Author-email: distutils-sig@python.org
License: MIT
Location: c:\users\qidimmak\appdata\local\programs\python\python310\lib\site-packages
Requires:
Required-by:

# <center>**DATOS Y FUNCIONES**</center>

In [281]:
import pandas as pd

animales = {
    'ID':[valor for valor in range (1, 6)],
    'LIDER':[valor for valor in range (1, 6)],
    'Mamíferos':['Ballenas','Capibaras','Ratones','Delfines','Ovejas','Canguros','Orcas','Elefantes','Chimpancés','Perros','Jirafas','Gorilas','Gatos','Rinocerontes','Seres humanos','Caballos','Leones','Cabras','Vacas','Hienas'],
    'Reptiles':['Víboras','Basiliscos','Lagartos voladores australianos','Cocodrilos','Boas constrictoras','Monstruos de Gila','Aligátores','Tortugas galápagos','Luciones','Iguanas','Tortugas terrestres','Dinosaurios (extintos)','Tortugas acuáticas','Varanos','Pterosaurios (extintos)','Lagartijas comunes','Camaleones','Mosasaurios (extintos)','Dragones de Komodo','Tuátaras de Nueva Zelanda'],
    'Peces':['Tiburones','Bacalaos','Peces vela','Anguilas de mar','Peces sapo','Atunes','Barracudas','Koi japoneses','Peces espada','Peces globo','Carpas','Peces abisales','Peces payaso','Esturiones','Celacantos (extintos)','Las agujas de río','Pirañas','Lenguados','Los tiburones ballena','Peces luna'],
    'Anfibios':['Ajolotes','Sapos corredores','Ranas toro africanas','Ranas arborícolas','Sapos gigantes','Salamandras gigantes chinas','Cecilias','Ranas venenosas','Necturos','Salamandras comunes','Gallipatos','Microsaurios (extintos)','Ranas arcoíris','Salamandras sin pulmón','Lisorofios (extintos)','Ranas de Darwin','Ranas de Seychelles','Proteos','Sapos comunes','Sapos de caña venenosos'],
    'Aves':['Gallinas','Pájaros carpinteros','Guacamayas','Patos','Lechuzas','Loros','Buitres','Cóndores','Águilas','Cuervos','Colibríes','Avestruces','Tucanes','Canarios','Cigüeñas','Pavos','Gaviotas','Pavorreales','Faisanes','Pelícanos'],
    
    'Vertebrados':['Ballenas','Capibaras','Ratones','Delfines','Ovejas','Canguros','Orcas','Elefantes','Chimpancés','Perros','Jirafas','Gorilas','Gatos','Rinocerontes','Seres humanos','Caballos','Leones','Cabras','Vacas','Hienas','Víboras','Basiliscos','Lagartos voladores australianos','Cocodrilos','Boas constrictoras','Monstruos de Gila','Aligátores','Tortugas galápagos','Luciones','Iguanas','Tortugas terrestres','Dinosaurios (extintos)','Tortugas acuáticas','Varanos','Pterosaurios (extintos)','Lagartijas comunes','Camaleones','Mosasaurios (extintos)','Dragones de Komodo','Tuátaras de Nueva Zelanda','Tiburones','Bacalaos','Peces vela','Anguilas de mar','Peces sapo','Atunes','Barracudas','Koi japoneses','Peces espada','Peces globo','Carpas','Peces abisales','Peces payaso','Esturiones','Celacantos (extintos)','Las agujas de río','Pirañas','Lenguados','Los tiburones ballena','Peces luna','Ajolotes','Sapos corredores','Ranas toro africanas','Ranas arborícolas','Sapos gigantes','Salamandras gigantes chinas','Cecilias','Ranas venenosas','Necturos','Salamandras comunes','Gallipatos','Microsaurios (extintos)','Ranas arcoíris','Salamandras sin pulmón','Lisorofios (extintos)','Ranas de Darwin','Ranas de Seychelles','Proteos','Sapos comunes','Sapos de caña venenosos','Gallinas','Pájaros carpinteros','Guacamayas','Patos','Lechuzas','Loros','Buitres','Cóndores','Águilas','Cuervos','Colibríes','Avestruces','Tucanes','Canarios','Cigüeñas','Pavos','Gaviotas','Pavorreales','Faisanes','Pelícanos']    ,
    'Invertebrados':['Moscas domésticas','Tábano bombilius','Arañas','Avispas excavadoras','Mariposa limonera','Mariposa saltacercas','Orugas','Libélula emperador','Libélulas','Escorpiones','Mariposa sesia','Escarabajo','Mariposa macaón','Mariposa blanquita de la col','Araña de patas largas','Hormigas león','Polilla','Luciérnaga','Avispas alfareras','Escarabajo fitófago','Araña cangrejo','Chinche roja, zapatero','Curilla o aceitera','Cigarra o chicharra','Mariquitas','Caballito del diablo','Avispa scolia','Mariposa cervantes','Termes','Ácaros','Abeja de la miel','Mosquitos','Moscardones','Caracoles','Cochinillas','Tijeretas','Garrapata','Mariposa dorada','Piojos','Cucarachas','Mariposa pavo real','Mariposa del almez','Pulgas','Abejorros','Mantis religiosa','Medusas','Grillos','Moscas cernícalo','Mariposa esfinge colibrí','Avispas portasierra','Mariposa nacarada','Estrellas de mar','Hormigas','Chinches','Tábanos','Escarabajos acuáticos','Milpiés','Larvas','Cochinillas de humedad','Pulgones','Escarabajos','Mariposa medioluto','Avispas sociales','Mariposa ajedrezada menor','Mariposa ícaro','Abejas','Saltamontes','Mariposa lobito agreste','Ciempiés'],
    'Ovíparos':['Cocodrilo','Hormiga','Pingüino','Gorrión','Gallina','Loro','Cóndor','Águila','Avestruz','Cigüeña','Pato','Ganso','Víbora de cascabel','Codorniz','Rana','Guacamayo','Hornero','Salmón','Abeja','Paloma'],
    'Frugívoros':['Ardilla','Mono aullador','Loro','Bonobo','Mosca de la fruta','Macaco','Calandria','Murciélago frugívoro','Iguana','Chimpancé','Tupaya enana','Conejo del campo','Chinche del campo','Perico','Tucán','Gibón','Pacú','Zarigüeya','Gorila','Tortuga terrestre','Zorro volador','Lémur','Tapir','Orangután','Lirón','Mono Tití'],
    'Rumiantes':['Vaca','Toro','Oveja','Alce','Cabra','Llama','Cebú','Búfalo cafre','Ciervo común','Nilgó','Antílope de cuatro cuernos','Gamo común','Sitatunga','Niala','Ciervo de copete','Anoa de montaña','Bongo','Alce irlandés','Ñu','Venado temazate','Sambar','Gayal','Bisonte estepario','Ciervo porcino','Ciervo de los pantanos','Búfalo de agua','Gacela de Grant','Corzo','Antílope jeroglífico','Candelillo','Venado andino','Bisonte americano','Corzuela','Vicuña','Bisonte europeo','Oryx','Urial','Venado de las Pampas','Uapití','Anoa de llanura','Reno','Apaca','Íbice de los Alpes','Ciervo axis','Impala'],
    
    'Herbívoros':['Cebra','Oveja','Antílope','Llama','Cabra','Alpaca','Jirafa','Koala','Elefante','Ciervo','Tapir','Ardilla','Vaca','Canguro','Caballo','Cobayo','Rinoceronte','Burro','Conejo','Tortuga'],
    'Carnívoros':['Foca','Hiena','Lince','Gato','Jaguar','Lobo','Gato montés','León','Lobo gris','Comadreja','León marino','Civeta','Coyote','Leopardo','Mangosta','Marta','Cachalote','Tigre siberiano','Ballena azul','Delfín','Tigre de bengala','Ballena jorobada','Oso pardo','Orca','Beluga','Oso polar','Nutria','Narval','Guepardo','Gineta manchada','Perro','Puma','Panda rojo','Pantera negra','Gineta común','Linsangs','Fosa','Murciélago espectral','Mapache','Visón europeo','Murciélago pescador','Demonio de Tasmania','Serval','Morsa','Chacal','Pangolín','Hurón','Glotón','Tejón','Garduña','Kinkajú','Anaconda','Cobra','Tortuga marina','Boa','Pitón','Varano del desierto','Cocodrilo','Tortuga lagarto','Caimán','Dragón de Komodo','Gecko leopardo','Serpiente de coral','Atún','Pez espada','Muskallonga americano','Tiburón blanco','Perca','Marlín','Tiburón martillo','Salmón','Pez gato','Tiburón tigre','Tollo cigarro','Piraña','Tiburón peregrino','Tiburón toro','Barracuda','Aguila arpía','Albatros','Buitre leonado','Águila pescadora','Gaviota','','Buitre quebrantahuesos','Secretario','Halcón','Buitre común','Pingüino','Cuervo','Buitre negro','Pelícano','Cóndor de California','Marabú','Milano','Cóndor andino','Lechuza','Alimoche','Búho','Gavilán pollero'],
    'Omnívoros':['Humano','Seres humanos','Erizo','Mirlo','Perdiz','Flamingo','Bacalao','Gaviota','Garcilla bueyera','Focha','Casuario','Zorzal','Pájaro carpintero','Zorrillo','Perro','Delfín','Grajo','Pez globo','Pinzón','Labeo bicolor','Hormiga','Garza real','Petirrojo','Morena','Jabalí','Cerdo','Tucán','Gorrión','Mono','Urraca','Gallina','Corydora','Zarigüeya','Cacatúa','Cangrejo','Avispa','Pez espiga','Tiburón','Rinoceronte','Langosta','Ballena','Avestruz','Tortugas','Faisán','Cisne','Gatos','Mosca','Bengalí rojo','Oso','Hámster','Cuervos','Ñandú','Bagre','Avutarda','Lémur','Zorro','Armadillo','Pez arquero','Mofeta','Mapache','Gorila','Chimpancé','Ardilla','Ornitorrinco','Emú','Grillo','Avestruces','Ratón','Carpa','Cucaracha','Escarabajo de cementerio','Pavo real','Ganso','Coyote','Piraña','Coatí','Manatí','Grulla','Mojarrita','Ratones','Nutria','Jerbo','Casuarios','Tejón','Tortuga','Tortuga carbonaria','Espátula','Perezoso','Ayeaye','Calamón'],
}

def crear_dataframes(diccionario_base, limite_muestra = 5):
    import random
    import itertools
    
    # obtiene la lista de llaves del diccionario
    lista_llaves = list(diccionario_base.keys())
    
    # elige las llaves para cada diccionario
    llaves_seleccionadas =  [[0,1] + [value for value in range(2,7)], [0,1] +  [value for value in range(7,12)], [random.randint(2,7)] + [random.randint(7,12)] + [0,1,12,13,14]]
    
    # guarda el diccionario final
    lista_diccionarios_generados = [0,1,2]


    for indice, valores in enumerate(llaves_seleccionadas):

        lista_filtrada = [lista_llaves[valor] for valor in llaves_seleccionadas[indice]]
        
        # crea un diccionario usando las tuplas como base de la comprehension list
        lista_diccionarios = dict([(llave,valor) for llave, valor in animales.items() if llave in lista_filtrada])  

        # almacena los valores temporalmente
        lista_diccionarios_interno = []

        for llave, valor in lista_diccionarios.items():
            diccionario = ([(llave,[random.choice(valor) for i in range(limite_muestra)])])
            
            # guarda la valores como lista de tuplas para convertir a diccionario facilmente
            lista_diccionarios_interno.append(tuple(itertools.chain(*diccionario)))
        lista_diccionarios_generados[indice] = lista_diccionarios_interno

    # captura la informacion de la primera parte de la lista como tupla y la convierte a diccionario casteandola con dict
    diccionario_0 = dict(lista_diccionarios_generados[0])
   
    diccionario_1 = dict(lista_diccionarios_generados[1])
    
    diccionario_2 = dict(lista_diccionarios_generados[2])
    
    # retorna los diccionarios como dataframes usando la funcion creada para esa conversion
    return pd.DataFrame(diccionario_0), pd.DataFrame(diccionario_1), pd.DataFrame(diccionario_2)

def join_dataframe(primer_dataframe, segundo_dataframe, llaves_para_join = '', tipo_de_join='INNER', mostrar_tipo_join=False, self_join=['','']):

    # une los dataframe con el JOIN y elimina registros duplicados con .drop_duplicates()
    if tipo_de_join.lower() == 'cross':
        dataframe_unido = pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how=tipo_de_join.lower())
        tipo_join = f"pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how='{tipo_de_join.lower()}')"  
        
    elif tipo_de_join.lower() == 'self':
        dataframe_unido = pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), left_on=self_join[0], right_on=self_join[1], how='left', suffixes=['_left','_right'], indicator=mostrar_tipo_join)
        tipo_join = f"pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), left_on={self_join[0]}, right_on={self_join[1]}, how='left', suffixes=['_left','_right'], indicator={mostrar_tipo_join})" 
        
    elif tipo_de_join.lower() == 'index':
        dataframe_unido = pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), left_index=True, right_index=True)
        tipo_join = f"pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how='{tipo_de_join.lower()}')"
    else:        
        dataframe_unido = pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=llaves_para_join, how=tipo_de_join.lower(), indicator=mostrar_tipo_join)
        dataframe_unido = dataframe_unido.sort_values(by=llaves_para_join, ascending=False)
        dataframe_unido = dataframe_unido.reset_index()
        tipo_join = f"pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on={llaves_para_join}, how='{tipo_de_join.lower()}', indicator={mostrar_tipo_join})" 
       
    print(tipo_join)
    
    return dataframe_unido

df1, df2, df3 = crear_dataframes(diccionario_base=animales)

# <center>**ELIMINAR COLUMNAS**</center>

# <center>**UNIR O CONCATENAR DATAFRAMES**</center>

In [282]:
df1

,ID,LIDER,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos
1,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas
2,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas
3,3,1,Hienas,Víboras,Peces espada,Ajolotes,Canarios
4,5,2,Jirafas,Boas constrictoras,Celacantos (extintos),Sapos de caña venenosos,Colibríes

In [283]:
df3

,ID,LIDER,Anfibios,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
1,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
2,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
3,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
4,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera

# <center>**OUTER**</center>

In [284]:
pd.concat([df1[0:3], df3], axis=1, join="outer")

,ID,LIDER,Mamíferos,Reptiles,Peces,Anfibios,Aves,ID,LIDER,Anfibios,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,3.0,5.0,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
1,3.0,1.0,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
2,3.0,1.0,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera

In [285]:
pd.concat([df1[0:3], df3], axis=0, join="outer")

,ID,LIDER,Mamíferos,Reptiles,Peces,Anfibios,Aves,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,NaN,NaN,NaN,NaN
1,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,NaN,NaN,NaN,NaN
2,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,NaN,NaN,NaN,NaN
0,3,2,NaN,NaN,NaN,Microsaurios (extintos),NaN,Grillos,Ciervo,Cóndor de California,Petirrojo
1,2,3,NaN,NaN,NaN,Gallipatos,NaN,Escarabajo,Vaca,Narval,Langosta
2,3,1,NaN,NaN,NaN,Lisorofios (extintos),NaN,Avispas excavadoras,Conejo,Cocodrilo,Faisán
3,3,5,NaN,NaN,NaN,Sapos gigantes,NaN,Abejas,Vaca,Oso polar,Zarigüeya
4,2,1,NaN,NaN,NaN,Ranas toro africanas,NaN,Escorpiones,Antílope,Cuervo,Garcilla bueyera

# <center>**INNER**</center>

In [286]:
pd.concat([df1[0:3], df3], axis=1, join="inner")

,ID,LIDER,Mamíferos,Reptiles,Peces,Anfibios,Aves,ID,LIDER,Anfibios,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
1,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
2,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán

In [287]:
pd.concat([df1[0:3], df3], axis=0, join="inner")

   ID  LIDER                 Anfibios
0   3      5           Sapos gigantes
1   3      1      Salamandras comunes
2   3      1   Salamandras sin pulmón
0   3      2  Microsaurios (extintos)
1   2      3               Gallipatos
2   3      1    Lisorofios (extintos)
3   3      5           Sapos gigantes
4   2      1     Ranas toro africanas

# <center>**COMPARACION POR DATAFRAMES**</center>

In [288]:
pd.concat([df1,df2,df3], keys=["df1", "df2", "df3"])

       ID  LIDER Mamíferos            Reptiles                  Peces  \
df1 0   3      5     Gatos          Basiliscos          Koi japoneses
    1   3      1    Cabras  Lagartijas comunes              Lenguados
    2   3      1   Jirafas  Dragones de Komodo                 Carpas
    3   3      1    Hienas             Víboras           Peces espada
    4   5      2   Jirafas  Boas constrictoras  Celacantos (extintos)
df2 0   1      5       NaN                 NaN                    NaN
    1   5      3       NaN                 NaN                    NaN
    2   2      4       NaN                 NaN                    NaN
    3   5      5       NaN                 NaN                    NaN
    4   5      3       NaN                 NaN                    NaN
df3 0   3      2       NaN                 NaN                    NaN
    1   2      3       NaN                 NaN                    NaN
    2   3      1       NaN                 NaN                    NaN
    3   3      5       NaN                 NaN                    NaN
    4   2      1       NaN                 NaN                    NaN

                      Anfibios       Aves          Vertebrados  \
df1 0           Sapos gigantes      Patos                  NaN
    1      Salamandras comunes   Lechuzas                  NaN
    2   Salamandras sin pulmón   Gallinas                  NaN
    3                 Ajolotes   Canarios                  NaN
    4  Sapos de caña venenosos  Colibríes                  NaN
df2 0                      NaN        NaN            Elefantes
    1                      NaN        NaN             Canguros
    2                      NaN        NaN  Tortugas terrestres
    3                      NaN        NaN      Anguilas de mar
    4                      NaN        NaN             Delfines
df3 0  Microsaurios (extintos)        NaN                  NaN
    1               Gallipatos        NaN                  NaN
    2    Lisorofios (extintos)        NaN                  NaN
    3           Sapos gigantes        NaN                  NaN
    4     Ranas toro africanas        NaN                  NaN

                Invertebrados  Ovíparos         Frugívoros          Rumiantes  \
df1 0                     NaN       NaN                NaN                NaN
    1                     NaN       NaN                NaN                NaN
    2                     NaN       NaN                NaN                NaN
    3                     NaN       NaN                NaN                NaN
    4                     NaN       NaN                NaN                NaN
df2 0  Chinche roja, zapatero     Abeja  Tortuga terrestre             Sambar
    1    Mariposa saltacercas      Pato          Mono Tití              Cabra
    2                 Grillos  Codorniz          Calandria               Reno
    3       Avispas alfareras   Gorrión               Pacú               Vaca
    4        Estrellas de mar  Pingüino          Orangután  Bisonte americano
df3 0                 Grillos       NaN                NaN                NaN
    1              Escarabajo       NaN                NaN                NaN
    2     Avispas excavadoras       NaN                NaN                NaN
    3                  Abejas       NaN                NaN                NaN
    4             Escorpiones       NaN                NaN                NaN

      Herbívoros            Carnívoros         Omnívoros
df1 0        NaN                   NaN               NaN
    1        NaN                   NaN               NaN
    2        NaN                   NaN               NaN
    3        NaN                   NaN               NaN
    4        NaN                   NaN               NaN
df2 0        NaN                   NaN               NaN
    1        NaN                   NaN               NaN
    2        NaN                   NaN               NaN
    3        NaN                   NaN               NaN
    4        NaN                   NaN               NaN
df3 0     Ciervo  Cóndor de California         Petirrojo
    1       Vaca                Narval          Langosta
    2     Conejo             Cocodrilo            Faisán
    3       Vaca             Oso polar         Zarigüeya
    4   Antílope                Cuervo  Garcilla bueyera

In [289]:
pd.concat(
    [df1,df2,df3], keys=["x", "y", "z"], levels=[["z", "y", "x", "w"]], names=["group_key"]
)

             ID  LIDER Mamíferos            Reptiles                  Peces  \
group_key
x         0   3      5     Gatos          Basiliscos          Koi japoneses
          1   3      1    Cabras  Lagartijas comunes              Lenguados
          2   3      1   Jirafas  Dragones de Komodo                 Carpas
          3   3      1    Hienas             Víboras           Peces espada
          4   5      2   Jirafas  Boas constrictoras  Celacantos (extintos)
y         0   1      5       NaN                 NaN                    NaN
          1   5      3       NaN                 NaN                    NaN
          2   2      4       NaN                 NaN                    NaN
          3   5      5       NaN                 NaN                    NaN
          4   5      3       NaN                 NaN                    NaN
z         0   3      2       NaN                 NaN                    NaN
          1   2      3       NaN                 NaN                    NaN
          2   3      1       NaN                 NaN                    NaN
          3   3      5       NaN                 NaN                    NaN
          4   2      1       NaN                 NaN                    NaN

                            Anfibios       Aves          Vertebrados  \
group_key
x         0           Sapos gigantes      Patos                  NaN
          1      Salamandras comunes   Lechuzas                  NaN
          2   Salamandras sin pulmón   Gallinas                  NaN
          3                 Ajolotes   Canarios                  NaN
          4  Sapos de caña venenosos  Colibríes                  NaN
y         0                      NaN        NaN            Elefantes
          1                      NaN        NaN             Canguros
          2                      NaN        NaN  Tortugas terrestres
          3                      NaN        NaN      Anguilas de mar
          4                      NaN        NaN             Delfines
z         0  Microsaurios (extintos)        NaN                  NaN
          1               Gallipatos        NaN                  NaN
          2    Lisorofios (extintos)        NaN                  NaN
          3           Sapos gigantes        NaN                  NaN
          4     Ranas toro africanas        NaN                  NaN

                      Invertebrados  Ovíparos         Frugívoros  \
group_key
x         0                     NaN       NaN                NaN
          1                     NaN       NaN                NaN
          2                     NaN       NaN                NaN
          3                     NaN       NaN                NaN
          4                     NaN       NaN                NaN
y         0  Chinche roja, zapatero     Abeja  Tortuga terrestre
          1    Mariposa saltacercas      Pato          Mono Tití
          2                 Grillos  Codorniz          Calandria
          3       Avispas alfareras   Gorrión               Pacú
          4        Estrellas de mar  Pingüino          Orangután
z         0                 Grillos       NaN                NaN
          1              Escarabajo       NaN                NaN
          2     Avispas excavadoras       NaN                NaN
          3                  Abejas       NaN                NaN
          4             Escorpiones       NaN                NaN

                     Rumiantes Herbívoros            Carnívoros  \
group_key
x         0                NaN        NaN                   NaN
          1                NaN        NaN                   NaN
          2                NaN        NaN                   NaN
          3                NaN        NaN                   NaN
          4                NaN        NaN                   NaN
y         0             Sambar        NaN                   NaN
          1              Cabra        NaN                   NaN
          2               Reno        NaN                   NaN
          3               Vaca        NaN                   NaN
          4  Bisonte americano        NaN                   NaN
z         0                NaN     Ciervo  Cóndor de California
          1                NaN       Vaca                Narval
          2                NaN     Conejo             Cocodrilo
          3                NaN       Vaca             Oso polar
          4                NaN   Antílope                Cuervo

                    Omnívoros
group_key
x         0               NaN
          1               NaN
          2               NaN
          3               NaN
          4               NaN
y         0               NaN
          1               NaN
          2               NaN
          3               NaN
          4               NaN
z         0         Petirrojo
          1          Langosta
          2            Faisán
          3         Zarigüeya
          4  Garcilla bueyera

# <center>**JOINS**</center>

# <center>**SELF, INNER, LEFT, RIGHT, OUTER, CROSS, INDEX**</center>

In [290]:
frames = [df1, df2, df3]

result = pd.concat(frames, keys=["ID", "LIDER", "Aves"])
result

         ID  LIDER Mamíferos            Reptiles                  Peces  \
ID    0   3      5     Gatos          Basiliscos          Koi japoneses
      1   3      1    Cabras  Lagartijas comunes              Lenguados
      2   3      1   Jirafas  Dragones de Komodo                 Carpas
      3   3      1    Hienas             Víboras           Peces espada
      4   5      2   Jirafas  Boas constrictoras  Celacantos (extintos)
LIDER 0   1      5       NaN                 NaN                    NaN
      1   5      3       NaN                 NaN                    NaN
      2   2      4       NaN                 NaN                    NaN
      3   5      5       NaN                 NaN                    NaN
      4   5      3       NaN                 NaN                    NaN
Aves  0   3      2       NaN                 NaN                    NaN
      1   2      3       NaN                 NaN                    NaN
      2   3      1       NaN                 NaN                    NaN
      3   3      5       NaN                 NaN                    NaN
      4   2      1       NaN                 NaN                    NaN

                        Anfibios       Aves          Vertebrados  \
ID    0           Sapos gigantes      Patos                  NaN
      1      Salamandras comunes   Lechuzas                  NaN
      2   Salamandras sin pulmón   Gallinas                  NaN
      3                 Ajolotes   Canarios                  NaN
      4  Sapos de caña venenosos  Colibríes                  NaN
LIDER 0                      NaN        NaN            Elefantes
      1                      NaN        NaN             Canguros
      2                      NaN        NaN  Tortugas terrestres
      3                      NaN        NaN      Anguilas de mar
      4                      NaN        NaN             Delfines
Aves  0  Microsaurios (extintos)        NaN                  NaN
      1               Gallipatos        NaN                  NaN
      2    Lisorofios (extintos)        NaN                  NaN
      3           Sapos gigantes        NaN                  NaN
      4     Ranas toro africanas        NaN                  NaN

                  Invertebrados  Ovíparos         Frugívoros  \
ID    0                     NaN       NaN                NaN
      1                     NaN       NaN                NaN
      2                     NaN       NaN                NaN
      3                     NaN       NaN                NaN
      4                     NaN       NaN                NaN
LIDER 0  Chinche roja, zapatero     Abeja  Tortuga terrestre
      1    Mariposa saltacercas      Pato          Mono Tití
      2                 Grillos  Codorniz          Calandria
      3       Avispas alfareras   Gorrión               Pacú
      4        Estrellas de mar  Pingüino          Orangután
Aves  0                 Grillos       NaN                NaN
      1              Escarabajo       NaN                NaN
      2     Avispas excavadoras       NaN                NaN
      3                  Abejas       NaN                NaN
      4             Escorpiones       NaN                NaN

                 Rumiantes Herbívoros            Carnívoros         Omnívoros
ID    0                NaN        NaN                   NaN               NaN
      1                NaN        NaN                   NaN               NaN
      2                NaN        NaN                   NaN               NaN
      3                NaN        NaN                   NaN               NaN
      4                NaN        NaN                   NaN               NaN
LIDER 0             Sambar        NaN                   NaN               NaN
      1              Cabra        NaN                   NaN               NaN
      2               Reno        NaN                   NaN               NaN
      3               Vaca        NaN                   NaN               NaN
      4  Bisonte americano        NaN                   NaN               NaN
Aves  0                NaN     Ciervo  Cóndor de California         Petirrojo
      1                NaN       Vaca                Narval          Langosta
      2                NaN     Conejo             Cocodrilo            Faisán
      3                NaN       Vaca             Oso polar         Zarigüeya
      4                NaN   Antílope                Cuervo  Garcilla bueyera

# <center>**SELF** JOIN</center>

In [291]:
df1

,ID,LIDER,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos
1,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas
2,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas
3,3,1,Hienas,Víboras,Peces espada,Ajolotes,Canarios
4,5,2,Jirafas,Boas constrictoras,Celacantos (extintos),Sapos de caña venenosos,Colibríes

In [292]:
join_dataframe(df1.iloc[:,0:3], df1.iloc[:,0:3], tipo_de_join='SELF',self_join=['ID','LIDER'])

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), left_on=ID, right_on=LIDER, how='left', suffixes=['_left','_right'], indicator=False)

   ID_left  LIDER_left Mamíferos_left  ID_right  LIDER_right Mamíferos_right
0        3           5          Gatos       NaN          NaN             NaN
1        3           1         Cabras       NaN          NaN             NaN
2        3           1        Jirafas       NaN          NaN             NaN
3        3           1         Hienas       NaN          NaN             NaN
4        5           2        Jirafas       3.0          5.0           Gatos

# <center>**INNER** JOIN</center>

In [293]:
df2

,ID,LIDER,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
1,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
2,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
3,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
4,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano

In [294]:
df3

,ID,LIDER,Anfibios,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
1,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
2,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
3,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
4,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera

In [295]:
join_dataframe(df2, df3, llaves_para_join= ['ID'], tipo_de_join='INNER')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['ID'], how='inner', indicator=False)

,index,ID,LIDER_x,Vertebrados,Invertebrados_x,Ovíparos,Frugívoros,Rumiantes,LIDER_y,Anfibios,Invertebrados_y,Herbívoros,Carnívoros,Omnívoros
0,0,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
1,1,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera

In [296]:
pd.merge(df2, df3, on=["ID"])

,ID,LIDER_x,Vertebrados,Invertebrados_x,Ovíparos,Frugívoros,Rumiantes,LIDER_y,Anfibios,Invertebrados_y,Herbívoros,Carnívoros,Omnívoros
0,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
1,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera

## <center>**INNER** JOIN **Multiples Llaves**</center>

In [297]:
join_dataframe(df2, df3, llaves_para_join= ['ID','LIDER'], tipo_de_join='INNER')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['ID', 'LIDER'], how='inner', indicator=False)

Empty DataFrame
Columns: [index, ID, LIDER, Vertebrados, Invertebrados_x, Ovíparos, Frugívoros, Rumiantes, Anfibios, Invertebrados_y, Herbívoros, Carnívoros, Omnívoros]
Index: []

In [298]:
pd.merge(df2, df3, on=["ID",'LIDER'])

Empty DataFrame
Columns: [ID, LIDER, Vertebrados, Invertebrados_x, Ovíparos, Frugívoros, Rumiantes, Anfibios, Invertebrados_y, Herbívoros, Carnívoros, Omnívoros]
Index: []

In [299]:
pd.merge_ordered(df2, df3, on=["ID",'LIDER'])

,ID,LIDER,Vertebrados,Invertebrados_x,Ovíparos,Frugívoros,Rumiantes,Anfibios,Invertebrados_y,Herbívoros,Carnívoros,Omnívoros
0,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar,NaN,NaN,NaN,NaN,NaN
1,2,1,NaN,NaN,NaN,NaN,NaN,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera
2,2,3,NaN,NaN,NaN,NaN,NaN,Gallipatos,Escarabajo,Vaca,Narval,Langosta
3,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,NaN,NaN,NaN,NaN,NaN
4,3,1,NaN,NaN,NaN,NaN,NaN,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
5,3,2,NaN,NaN,NaN,NaN,NaN,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
6,3,5,NaN,NaN,NaN,NaN,NaN,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
7,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra,NaN,NaN,NaN,NaN,NaN
8,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano,NaN,NaN,NaN,NaN,NaN
9,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca,NaN,NaN,NaN,NaN,NaN

In [300]:
pd.merge(df2.drop_duplicates(), df3.drop_duplicates(), on=["ID",'LIDER'], how='left', indicator=False)

,ID,LIDER,Vertebrados,Invertebrados_x,Ovíparos,Frugívoros,Rumiantes,Anfibios,Invertebrados_y,Herbívoros,Carnívoros,Omnívoros
0,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar,NaN,NaN,NaN,NaN,NaN
1,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra,NaN,NaN,NaN,NaN,NaN
2,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,NaN,NaN,NaN,NaN,NaN
3,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca,NaN,NaN,NaN,NaN,NaN
4,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano,NaN,NaN,NaN,NaN,NaN

# <center>**LEFT** JOIN</center>

In [301]:
join_dataframe(df1, df3, llaves_para_join = ['ID'], tipo_de_join='LEFT')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['ID'], how='left', indicator=False)

,index,ID,LIDER_x,Mamíferos,Reptiles,Peces,Anfibios_x,Aves,LIDER_y,Anfibios_y,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,12,5,2,Jirafas,Boas constrictoras,Celacantos (extintos),Sapos de caña venenosos,Colibríes,NaN,NaN,NaN,NaN,NaN,NaN
1,0,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,2.0,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
2,1,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,1.0,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
3,2,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,5.0,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
4,3,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,2.0,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
5,4,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,1.0,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
6,5,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,5.0,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
7,6,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,2.0,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
8,7,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,1.0,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
9,8,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,5.0,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
10,9,3,1,Hienas,Víboras,Peces espada,Ajolotes,Canarios,2.0,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
11,10,3,1,Hienas,Víboras,Peces espada,Ajolotes,Canarios,1.0,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
12,11,3,1,Hienas,Víboras,Peces espada,Ajolotes,Canarios,5.0,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya

# <center>**RIGHT** JOIN</center>

In [302]:
join_dataframe(df1, df3, llaves_para_join = ['ID'], tipo_de_join='RIGHT')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['ID'], how='right', indicator=False)

,index,ID,LIDER_x,Mamíferos,Reptiles,Peces,Anfibios_x,Aves,LIDER_y,Anfibios_y,Invertebrados,Herbívoros,Carnívoros,Omnívoros
0,0,3,5.0,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
1,1,3,1.0,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
2,2,3,1.0,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
3,3,3,1.0,Hienas,Víboras,Peces espada,Ajolotes,Canarios,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo
4,5,3,5.0,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
5,6,3,1.0,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
6,7,3,1.0,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
7,8,3,1.0,Hienas,Víboras,Peces espada,Ajolotes,Canarios,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán
8,9,3,5.0,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
9,10,3,1.0,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
10,11,3,1.0,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
11,12,3,1.0,Hienas,Víboras,Peces espada,Ajolotes,Canarios,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya
12,4,2,NaN,NaN,NaN,NaN,NaN,NaN,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta
13,13,2,NaN,NaN,NaN,NaN,NaN,NaN,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera

# <center>**OUTER** JOIN</center>

In [303]:
join_dataframe(df3,df2, llaves_para_join = ['ID'], tipo_de_join='OUTER', mostrar_tipo_join=True)

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['ID'], how='outer', indicator=True)

,index,ID,LIDER_x,Anfibios,Invertebrados_x,Herbívoros,Carnívoros,Omnívoros,LIDER_y,Vertebrados,Invertebrados_y,Ovíparos,Frugívoros,Rumiantes,_merge
0,6,5,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra,right_only
1,7,5,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca,right_only
2,8,5,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano,right_only
3,0,3,2.0,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1,3,1.0,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,2,3,5.0,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,3,2,3.0,Gallipatos,Escarabajo,Vaca,Narval,Langosta,4.0,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,both
7,4,2,1.0,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera,4.0,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno,both
8,5,1,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar,right_only

# <center>**CROSS** JOIN</center>

In [304]:
join_dataframe(df3,df2, 'ID', tipo_de_join='CROSS')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how='cross')

,ID_x,LIDER_x,Anfibios,Invertebrados_x,Herbívoros,Carnívoros,Omnívoros,ID_y,LIDER_y,Vertebrados,Invertebrados_y,Ovíparos,Frugívoros,Rumiantes
0,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
1,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
2,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
3,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
4,3,2,Microsaurios (extintos),Grillos,Ciervo,Cóndor de California,Petirrojo,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano
5,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
6,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
7,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
8,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
9,2,3,Gallipatos,Escarabajo,Vaca,Narval,Langosta,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano
10,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
11,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
12,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
13,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
14,3,1,Lisorofios (extintos),Avispas excavadoras,Conejo,Cocodrilo,Faisán,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano
15,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
16,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
17,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
18,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
19,3,5,Sapos gigantes,Abejas,Vaca,Oso polar,Zarigüeya,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano
20,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
21,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
22,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
23,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
24,2,1,Ranas toro africanas,Escorpiones,Antílope,Cuervo,Garcilla bueyera,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano

# <center>**INDEX** JOIN</center>

In [305]:
join_dataframe(df1, df2, tipo_de_join='INDEX')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how='index')

,ID_x,LIDER_x,Mamíferos,Reptiles,Peces,Anfibios,Aves,ID_y,LIDER_y,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,3,5,Gatos,Basiliscos,Koi japoneses,Sapos gigantes,Patos,1,5,Elefantes,"Chinche roja, zapatero",Abeja,Tortuga terrestre,Sambar
1,3,1,Cabras,Lagartijas comunes,Lenguados,Salamandras comunes,Lechuzas,5,3,Canguros,Mariposa saltacercas,Pato,Mono Tití,Cabra
2,3,1,Jirafas,Dragones de Komodo,Carpas,Salamandras sin pulmón,Gallinas,2,4,Tortugas terrestres,Grillos,Codorniz,Calandria,Reno
3,3,1,Hienas,Víboras,Peces espada,Ajolotes,Canarios,5,5,Anguilas de mar,Avispas alfareras,Gorrión,Pacú,Vaca
4,5,2,Jirafas,Boas constrictoras,Celacantos (extintos),Sapos de caña venenosos,Colibríes,5,3,Delfines,Estrellas de mar,Pingüino,Orangután,Bisonte americano