In [1]:
!python -V
!pip show pandas plotly seaborn pip openpyxl pip

Python 3.10.7
Name: pandas
Version: 1.4.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: c:\z_github_virtual_environment\docker\lib\site-packages
Requires: numpy, python-dateutil, pytz
Required-by: fastparquet, itables, pandas-bokeh, plotly-express, seaborn, statsmodels
---
Name: plotly
Version: 5.10.0
Summary: An open-source, interactive data visualization library for Python
Home-page: https://plotly.com/python/
Author: Chris P
Author-email: chris@plot.ly
License: MIT
Location: c:\z_github_virtual_environment\docker\lib\site-packages
Requires: tenacity
Required-by: plotly-express
---
Name: seaborn
Version: 0.12.0
Summary: Statistical data visualization
Home-page:
Author:
Author-email: Michael Waskom <mwaskom@gmail.com>
License:
Location: c:\z_github_virtual_environment\docker\lib\site-packages
Requires: matplotlib, numpy, pandas
Required-by:
---
Name: pip
Version: 22.2.2
Summary: The PyPA recommended tool for installing Python packages.
Home-page: https://pip.pypa.io/
Author: The pip developers
Author-email: distutils-sig@python.org
License: MIT
Location: c:\z_github_virtual_environment\docker\lib\site-packages
Requires:
Required-by:
---
Name: openpyxl
Version: 3.0.10
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: c:\z_github_virtual_environment\docker\lib\site-packages
Requires: et-xmlfile
Required-by:
---
Name: pip
Version: 22.2.2
Summary: The PyPA recommended tool for installing Python packages.
Home-page: https://pip.pypa.io/
Author: The pip developers
Author-email: distutils-sig@python.org
License: MIT
Location: c:\z_github_virtual_environment\docker\lib\site-packages
Requires:
Required-by:

# <center>**LIBRERIAS Y FUNCIONES**</center>

In [2]:
import pandas as pd

from utilidades import crear_dataframes, join_dataframe

df1, df2, df3 = crear_dataframes(limite_muestra = 100)

# <center>**LEER ARCHIVOS Y CONVERTIRLOS EN DATAFRAME**</center>

# <center>**JSON**</center>

In [16]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/json_dataframe.json'
pd.read_json(archivo)

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,1,45,Delfines,Pterosaurios (extintos),Peces payaso,Ranas arcoíris,Cóndores
1,2,6,Leones,Luciones,Esturiones,Gallipatos,Águilas
2,3,91,Caballos,Basiliscos,Las agujas de río,Gallipatos,Pavos
3,4,80,Vacas,Lagartos voladores australianos,Atunes,Microsaurios (extintos),Pájaros carpinteros
4,5,90,Seres humanos,Iguanas,Los tiburones ballena,Ranas venenosas,Canarios
...,...,...,...,...,...,...,...
95,96,13,Perros,Tortugas acuáticas,Peces espada,Sapos corredores,Guacamayas
96,97,31,Ballenas,Boas constrictoras,Carpas,Proteos,Patos
97,98,40,Capibaras,Monstruos de Gila,Pirañas,Ranas toro africanas,Lechuzas
98,99,43,Orcas,Lagartijas comunes,Carpas,Ranas arcoíris,Tucanes
99,100,2,Vacas,Luciones,Los tiburones ballena,Microsaurios (extintos),Cóndores

# <center>**CSV**</center>

In [17]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/csv_dataframe.csv'
pd.read_csv(archivo)

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,1,38,Peces espada,Caracoles,Hornero,Ardilla,Bongo
1,2,26,Aligátores,Abejorros,Salmón,Lirón,Oveja
2,3,85,Capibaras,Araña cangrejo,Salmón,Murciélago frugívoro,Apaca
3,4,10,Jirafas,Cochinillas,Cigüeña,Gibón,Reno
4,5,67,Tiburones,Tijeretas,Pingüino,Chinche del campo,Ciervo axis
...,...,...,...,...,...,...,...
95,96,75,Las agujas de río,Abejas,Cigüeña,Calandria,Candelillo
96,97,24,Salamandras comunes,Escarabajo fitófago,Hornero,Macaco,Ciervo porcino
97,98,3,Loros,Hormigas,Víbora de cascabel,Mono aullador,Alce irlandés
98,99,39,Avestruces,Cigarra o chicharra,Abeja,Macaco,Ciervo axis
99,100,72,Tiburones,Mariquitas,Avestruz,Calandria,Reno

# <center>**EXCEL**</center>

In [18]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/excel_dataframes.xlsx'
pd.read_excel(archivo, engine="openpyxl")

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,1,1,Chimpancés,Tortugas acuáticas,Los tiburones ballena,Ranas arcoíris,Gallinas
1,2,28,Chimpancés,Camaleones,Tiburones,Ajolotes,Loros
2,3,93,Vacas,Tortugas acuáticas,Tiburones,Salamandras comunes,Gaviotas
3,4,31,Ratones,Pterosaurios (extintos),Tiburones,Ranas arcoíris,Tucanes
4,5,32,Ballenas,Tortugas acuáticas,Peces payaso,Gallipatos,Gaviotas
...,...,...,...,...,...,...,...
95,96,81,Vacas,Tortugas acuáticas,Peces espada,Lisorofios (extintos),Tucanes
96,97,41,Rinocerontes,Mosasaurios (extintos),Atunes,Ranas venenosas,Cigüeñas
97,98,93,Leones,Tortugas terrestres,Pirañas,Salamandras gigantes chinas,Tucanes
98,99,10,Caballos,Iguanas,Peces luna,Sapos gigantes,Pavorreales
99,100,49,Caballos,Luciones,Anguilas de mar,Ranas arborícolas,Águilas

In [19]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/excel_dataframes.xlsx'
pd.read_excel(archivo, engine="openpyxl", sheet_name='dataframe_3')

,Id,Lider,Mamíferos,Ovíparos,Herbívoros,Carnívoros,Omnívoros
0,1,60,Chimpancés,Víbora de cascabel,Cebra,Comadreja,Zorzal
1,2,8,Rinocerontes,Guacamayo,Elefante,Boa,Tiburón
2,3,25,Caballos,Gallina,Ciervo,Marabú,Manatí
3,4,3,Gorilas,Avestruz,Burro,Kinkajú,Nutria
4,5,38,Elefantes,Gorrión,Canguro,Pantera negra,Erizo
...,...,...,...,...,...,...,...
95,96,91,Ballenas,Hornero,Tortuga,Oso polar,Morena
96,97,85,Ovejas,Rana,Ardilla,Oso pardo,Bacalao
97,98,26,Perros,Cóndor,Alpaca,Pitón,Grulla
98,99,61,Ovejas,Avestruz,Oveja,Chacal,Avispa
99,100,74,Leones,Hornero,Caballo,Fosa,Pez globo

# <center>**HTML**</center>

In [20]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/html_dataframe.html'
pd.read_html(archivo, encoding="UTF-8")[0]

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,1,1,Chimpancés,Tortugas acuáticas,Los tiburones ballena,Ranas arcoíris,Gallinas
1,2,28,Chimpancés,Camaleones,Tiburones,Ajolotes,Loros
2,3,93,Vacas,Tortugas acuáticas,Tiburones,Salamandras comunes,Gaviotas
3,4,31,Ratones,Pterosaurios (extintos),Tiburones,Ranas arcoíris,Tucanes
4,5,32,Ballenas,Tortugas acuáticas,Peces payaso,Gallipatos,Gaviotas
...,...,...,...,...,...,...,...
95,96,81,Vacas,Tortugas acuáticas,Peces espada,Lisorofios (extintos),Tucanes
96,97,41,Rinocerontes,Mosasaurios (extintos),Atunes,Ranas venenosas,Cigüeñas
97,98,93,Leones,Tortugas terrestres,Pirañas,Salamandras gigantes chinas,Tucanes
98,99,10,Caballos,Iguanas,Peces luna,Sapos gigantes,Pavorreales
99,100,49,Caballos,Luciones,Anguilas de mar,Ranas arborícolas,Águilas

# <center>**PARQUET**</center>

In [21]:
archivo = 'https://raw.githubusercontent.com/JorgeCardona/skills/master/Pandas/archivos/parquet_dataframe.parquet'
pd.read_parquet(archivo)

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,1,86,Gatos,Cucarachas,Pato,Zarigüeya,Oryx
1,2,71,Luciones,Moscas domésticas,Ganso,Loro,Vaca
2,3,71,Peces vela,Mariposa del almez,Ganso,Calandria,Oryx
3,4,58,Varanos,Mariposa saltacercas,Codorniz,Lirón,Uapití
4,5,45,Faisanes,Cucarachas,Gallina,Zarigüeya,Ciervo axis
...,...,...,...,...,...,...,...
95,96,82,Peces vela,Escarabajos acuáticos,Gallina,Bonobo,Antílope de cuatro cuernos
96,97,13,Dragones de Komodo,Termes,Águila,Mosca de la fruta,Venado andino
97,98,13,Tuátaras de Nueva Zelanda,Mariposa ajedrezada menor,Pingüino,Tupaya enana,Oryx
98,99,101,Ratones,"Chinche roja, zapatero",Ganso,Mono aullador,Urial
99,100,99,Dragones de Komodo,Libélulas,Águila,Tucán,Ciervo de los pantanos

# <center>GUARDAR DATAFRAME A **JSON, CVS, EXCEL, HTML, PARQUET**</center>

In [31]:
df1.to_json('archivos/json_dataframe.json', orient ='records', indent=2)
df2.to_csv('archivos/csv_dataframe.csv', index=False)
df3.to_excel('archivos/excel_dataframe.xlsx', index=False, sheet_name='dataframe_1')
df1.to_html('archivos/html_dataframe.html', index=False)
df2.to_parquet('archivos/parquet_dataframe.parquet', index=False)

# <center>**ELIMINAR COLUMNAS**</center>

# <center>**UNIR O CONCATENAR DATAFRAMES**</center>

In [ ]:
df1

In [ ]:
df3

# <center>**OUTER**</center>

In [23]:
pd.concat([df1[0:3], df3], axis=1, join="outer")

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves,Id,Lider,Aves,Herbívoros,Carnívoros,Omnívoros
0,1.0,19.0,Ballenas,Lagartos voladores australianos,Peces espada,Necturos,Pavorreales,1,1,Cóndores,Rinoceronte,Secretario,Mapache
1,2.0,45.0,Cabras,Tortugas galápagos,Peces globo,Sapos de caña venenosos,Cuervos,2,35,Guacamayas,Oveja,Pitón,Gatos
2,3.0,17.0,Rinocerontes,Tortugas galápagos,Celacantos (extintos),Proteos,Cigüeñas,3,1,Águilas,Oveja,Narval,Emú
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,47,Águilas,Cebra,Pingüino,Jerbo
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,45,Águilas,Ardilla,Guepardo,Mofeta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96,93,Pavorreales,Burro,Halcón,Perezoso
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,29,Guacamayas,Vaca,Aguila arpía,Corydora
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,30,Loros,Alpaca,Muskallonga americano,Seres humanos
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,41,Avestruces,Oveja,Visón europeo,Avispa
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo

In [24]:
pd.concat([df1[0:3], df3], axis=0, join="outer")

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves,Herbívoros,Carnívoros,Omnívoros
0,1,19,Ballenas,Lagartos voladores australianos,Peces espada,Necturos,Pavorreales,NaN,NaN,NaN
1,2,45,Cabras,Tortugas galápagos,Peces globo,Sapos de caña venenosos,Cuervos,NaN,NaN,NaN
2,3,17,Rinocerontes,Tortugas galápagos,Celacantos (extintos),Proteos,Cigüeñas,NaN,NaN,NaN
0,1,1,NaN,NaN,NaN,NaN,Cóndores,Rinoceronte,Secretario,Mapache
1,2,35,NaN,NaN,NaN,NaN,Guacamayas,Oveja,Pitón,Gatos
...,...,...,...,...,...,...,...,...,...,...
95,96,93,NaN,NaN,NaN,NaN,Pavorreales,Burro,Halcón,Perezoso
96,97,29,NaN,NaN,NaN,NaN,Guacamayas,Vaca,Aguila arpía,Corydora
97,98,30,NaN,NaN,NaN,NaN,Loros,Alpaca,Muskallonga americano,Seres humanos
98,99,41,NaN,NaN,NaN,NaN,Avestruces,Oveja,Visón europeo,Avispa
99,100,10,NaN,NaN,NaN,NaN,Pájaros carpinteros,Tortuga,Gato montés,Cerdo

# <center>**INNER**</center>

In [25]:
pd.concat([df1[0:3], df3], axis=1, join="inner")

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves,Id,Lider,Aves,Herbívoros,Carnívoros,Omnívoros
0,1,19,Ballenas,Lagartos voladores australianos,Peces espada,Necturos,Pavorreales,1,1,Cóndores,Rinoceronte,Secretario,Mapache
1,2,45,Cabras,Tortugas galápagos,Peces globo,Sapos de caña venenosos,Cuervos,2,35,Guacamayas,Oveja,Pitón,Gatos
2,3,17,Rinocerontes,Tortugas galápagos,Celacantos (extintos),Proteos,Cigüeñas,3,1,Águilas,Oveja,Narval,Emú

In [26]:
pd.concat([df1[0:3], df3], axis=0, join="inner")

     Id  Lider                 Aves
0     1     19          Pavorreales
1     2     45              Cuervos
2     3     17             Cigüeñas
0     1      1             Cóndores
1     2     35           Guacamayas
..  ...    ...                  ...
95   96     93          Pavorreales
96   97     29           Guacamayas
97   98     30                Loros
98   99     41           Avestruces
99  100     10  Pájaros carpinteros

[103 rows x 3 columns]

# <center>**COMPARACION POR DATAFRAMES**</center>

In [27]:
pd.concat([df1,df2,df3], keys=["df1", "df2", "df3"])

         Id  Lider     Mamíferos                         Reptiles  \
df1 0     1     19      Ballenas  Lagartos voladores australianos
    1     2     45        Cabras               Tortugas galápagos
    2     3     17  Rinocerontes               Tortugas galápagos
    3     4    101       Ratones                          Varanos
    4     5     47    Chimpancés                       Aligátores
...     ...    ...           ...                              ...
df3 95   96     93           NaN                              NaN
    96   97     29           NaN                              NaN
    97   98     30           NaN                              NaN
    98   99     41           NaN                              NaN
    99  100     10           NaN                              NaN

                        Peces                 Anfibios                 Aves  \
df1 0            Peces espada                 Necturos          Pavorreales
    1             Peces globo  Sapos de caña venenosos              Cuervos
    2   Celacantos (extintos)                  Proteos             Cigüeñas
    3               Lenguados                 Necturos             Canarios
    4   Los tiburones ballena            Sapos comunes          Pavorreales
...                       ...                      ...                  ...
df3 95                    NaN                      NaN          Pavorreales
    96                    NaN                      NaN           Guacamayas
    97                    NaN                      NaN                Loros
    98                    NaN                      NaN           Avestruces
    99                    NaN                      NaN  Pájaros carpinteros

       Vertebrados Invertebrados Ovíparos Frugívoros Rumiantes Herbívoros  \
df1 0          NaN           NaN      NaN        NaN       NaN        NaN
    1          NaN           NaN      NaN        NaN       NaN        NaN
    2          NaN           NaN      NaN        NaN       NaN        NaN
    3          NaN           NaN      NaN        NaN       NaN        NaN
    4          NaN           NaN      NaN        NaN       NaN        NaN
...            ...           ...      ...        ...       ...        ...
df3 95         NaN           NaN      NaN        NaN       NaN      Burro
    96         NaN           NaN      NaN        NaN       NaN       Vaca
    97         NaN           NaN      NaN        NaN       NaN     Alpaca
    98         NaN           NaN      NaN        NaN       NaN      Oveja
    99         NaN           NaN      NaN        NaN       NaN    Tortuga

                   Carnívoros      Omnívoros
df1 0                     NaN            NaN
    1                     NaN            NaN
    2                     NaN            NaN
    3                     NaN            NaN
    4                     NaN            NaN
...                       ...            ...
df3 95                 Halcón       Perezoso
    96           Aguila arpía       Corydora
    97  Muskallonga americano  Seres humanos
    98          Visón europeo         Avispa
    99            Gato montés          Cerdo

[300 rows x 15 columns]

In [28]:
pd.concat(
    [df1,df2,df3], keys=["x", "y", "z"], levels=[["z", "y", "x", "w"]], names=["group_key"]
)

               Id  Lider     Mamíferos                         Reptiles  \
group_key
x         0     1     19      Ballenas  Lagartos voladores australianos
          1     2     45        Cabras               Tortugas galápagos
          2     3     17  Rinocerontes               Tortugas galápagos
          3     4    101       Ratones                          Varanos
          4     5     47    Chimpancés                       Aligátores
...           ...    ...           ...                              ...
z         95   96     93           NaN                              NaN
          96   97     29           NaN                              NaN
          97   98     30           NaN                              NaN
          98   99     41           NaN                              NaN
          99  100     10           NaN                              NaN

                              Peces                 Anfibios  \
group_key
x         0            Peces espada                 Necturos
          1             Peces globo  Sapos de caña venenosos
          2   Celacantos (extintos)                  Proteos
          3               Lenguados                 Necturos
          4   Los tiburones ballena            Sapos comunes
...                             ...                      ...
z         95                    NaN                      NaN
          96                    NaN                      NaN
          97                    NaN                      NaN
          98                    NaN                      NaN
          99                    NaN                      NaN

                             Aves Vertebrados Invertebrados Ovíparos  \
group_key
x         0           Pavorreales         NaN           NaN      NaN
          1               Cuervos         NaN           NaN      NaN
          2              Cigüeñas         NaN           NaN      NaN
          3              Canarios         NaN           NaN      NaN
          4           Pavorreales         NaN           NaN      NaN
...                           ...         ...           ...      ...
z         95          Pavorreales         NaN           NaN      NaN
          96           Guacamayas         NaN           NaN      NaN
          97                Loros         NaN           NaN      NaN
          98           Avestruces         NaN           NaN      NaN
          99  Pájaros carpinteros         NaN           NaN      NaN

             Frugívoros Rumiantes Herbívoros             Carnívoros  \
group_key
x         0         NaN       NaN        NaN                    NaN
          1         NaN       NaN        NaN                    NaN
          2         NaN       NaN        NaN                    NaN
          3         NaN       NaN        NaN                    NaN
          4         NaN       NaN        NaN                    NaN
...                 ...       ...        ...                    ...
z         95        NaN       NaN      Burro                 Halcón
          96        NaN       NaN       Vaca           Aguila arpía
          97        NaN       NaN     Alpaca  Muskallonga americano
          98        NaN       NaN      Oveja          Visón europeo
          99        NaN       NaN    Tortuga            Gato montés

                  Omnívoros
group_key
x         0             NaN
          1             NaN
          2             NaN
          3             NaN
          4             NaN
...                     ...
z         95       Perezoso
          96       Corydora
          97  Seres humanos
          98         Avispa
          99          Cerdo

[300 rows x 15 columns]

# <center>**JOINS**</center>

# <center>**SELF, INNER, LEFT, RIGHT, OUTER, CROSS, INDEX**</center>

# <center>**SELF** JOIN</center>

In [3]:
df1

,Id,Lider,Mamíferos,Reptiles,Peces,Anfibios,Aves
0,1,19,Ballenas,Lagartos voladores australianos,Peces espada,Necturos,Pavorreales
1,2,45,Cabras,Tortugas galápagos,Peces globo,Sapos de caña venenosos,Cuervos
2,3,17,Rinocerontes,Tortugas galápagos,Celacantos (extintos),Proteos,Cigüeñas
3,4,101,Ratones,Varanos,Lenguados,Necturos,Canarios
4,5,47,Chimpancés,Aligátores,Los tiburones ballena,Sapos comunes,Pavorreales
...,...,...,...,...,...,...,...
95,96,97,Perros,Basiliscos,Peces luna,Gallipatos,Patos
96,97,50,Leones,Dinosaurios (extintos),Los tiburones ballena,Ranas arborícolas,Pájaros carpinteros
97,98,69,Ovejas,Tortugas galápagos,Koi japoneses,Sapos gigantes,Gaviotas
98,99,61,Seres humanos,Lagartos voladores australianos,Los tiburones ballena,Ranas venenosas,Águilas
99,100,44,Orcas,Boas constrictoras,Celacantos (extintos),Ranas de Seychelles,Cuervos

In [5]:
join_dataframe(df1.iloc[:,0:3], df1.iloc[:,0:3], tipo_de_join='SELF',self_join=['Id','Lider'])

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), left_on=Id, right_on=Lider, how='left', suffixes=['_left','_right'], indicator=False)

     Id_left  Lider_left Mamíferos_left  Id_right  Lider_right Mamíferos_right
0          1          19       Ballenas       NaN          NaN             NaN
1          2          45         Cabras      24.0          2.0         Ratones
2          3          17   Rinocerontes      27.0          3.0          Perros
3          4         101        Ratones      39.0          4.0         Gorilas
4          5          47     Chimpancés       NaN          NaN             NaN
..       ...         ...            ...       ...          ...             ...
136       97          50         Leones      71.0         97.0       Elefantes
137       97          50         Leones      96.0         97.0          Perros
138       98          69         Ovejas       NaN          NaN             NaN
139       99          61  Seres humanos       NaN          NaN             NaN
140      100          44          Orcas      89.0        100.0         Jirafas

[141 rows x 6 columns]

# <center>**INNER** JOIN</center>

In [ ]:
df2

In [ ]:
df3

In [6]:
join_dataframe(df2, df3, llaves_para_join= ['Id'], tipo_de_join='INNER')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['Id'], how='inner', indicator=False)

,index,Id,Lider_x,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,Lider_y,Aves,Herbívoros,Carnívoros,Omnívoros
0,99,100,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo
1,98,99,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua,41,Avestruces,Oveja,Visón europeo,Avispa
2,97,98,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete,30,Loros,Alpaca,Muskallonga americano,Seres humanos
3,96,97,50,Los tiburones ballena,Caballito del diablo,Pato,Lémur,Bisonte americano,29,Guacamayas,Vaca,Aguila arpía,Corydora
4,95,96,43,Canarios,Avispas alfareras,Paloma,Zorro volador,Nilgó,93,Pavorreales,Burro,Halcón,Perezoso
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,5,97,Dragones de Komodo,Mariposa nacarada,Cóndor,Mono aullador,Íbice de los Alpes,45,Águilas,Ardilla,Guepardo,Mofeta
96,3,4,82,Hienas,Cigarra o chicharra,Codorniz,Gorila,Bisonte estepario,47,Águilas,Cebra,Pingüino,Jerbo
97,2,3,51,Peces sapo,Moscardones,Pato,Ardilla,Bisonte europeo,1,Águilas,Oveja,Narval,Emú
98,1,2,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico,35,Guacamayas,Oveja,Pitón,Gatos
99,0,1,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña,1,Cóndores,Rinoceronte,Secretario,Mapache

In [7]:
pd.merge(df2, df3, on=["Id"])

,Id,Lider_x,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,Lider_y,Aves,Herbívoros,Carnívoros,Omnívoros
0,1,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña,1,Cóndores,Rinoceronte,Secretario,Mapache
1,2,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico,35,Guacamayas,Oveja,Pitón,Gatos
2,3,51,Peces sapo,Moscardones,Pato,Ardilla,Bisonte europeo,1,Águilas,Oveja,Narval,Emú
3,4,82,Hienas,Cigarra o chicharra,Codorniz,Gorila,Bisonte estepario,47,Águilas,Cebra,Pingüino,Jerbo
4,5,97,Dragones de Komodo,Mariposa nacarada,Cóndor,Mono aullador,Íbice de los Alpes,45,Águilas,Ardilla,Guepardo,Mofeta
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,43,Canarios,Avispas alfareras,Paloma,Zorro volador,Nilgó,93,Pavorreales,Burro,Halcón,Perezoso
96,97,50,Los tiburones ballena,Caballito del diablo,Pato,Lémur,Bisonte americano,29,Guacamayas,Vaca,Aguila arpía,Corydora
97,98,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete,30,Loros,Alpaca,Muskallonga americano,Seres humanos
98,99,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua,41,Avestruces,Oveja,Visón europeo,Avispa
99,100,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo

## <center>**INNER** JOIN **Multiples Llaves**</center>

In [8]:
join_dataframe(df2, df3, llaves_para_join= ['Id','Lider'], tipo_de_join='INNER')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['Id', 'Lider'], how='inner', indicator=False)

,index,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,Aves,Herbívoros,Carnívoros,Omnívoros
0,4,87,28,Ranas de Darwin,Avispas alfareras,Paloma,Lirón,Ciervo de los pantanos,Águilas,Burro,Buitre negro,Pez globo
1,3,56,47,Patos,Ciempiés,Pingüino,Mosca de la fruta,Cebú,Gaviotas,Burro,Cuervo,Grulla
2,2,41,81,Peces sapo,Mariposa blanquita de la col,Gallina,Bonobo,Nilgó,Tucanes,Cobayo,Tiburón peregrino,Cangrejo
3,1,39,81,Lisorofios (extintos),Hormigas,Pato,Zorro volador,Ciervo de copete,Gaviotas,Jirafa,Secretario,Avestruces
4,0,15,26,Lagartos voladores australianos,Chinches,Víbora de cascabel,Mono aullador,Oryx,Águilas,Conejo,Piraña,Casuario

In [9]:
pd.merge(df2, df3, on=['Id','Lider'])

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,Aves,Herbívoros,Carnívoros,Omnívoros
0,15,26,Lagartos voladores australianos,Chinches,Víbora de cascabel,Mono aullador,Oryx,Águilas,Conejo,Piraña,Casuario
1,39,81,Lisorofios (extintos),Hormigas,Pato,Zorro volador,Ciervo de copete,Gaviotas,Jirafa,Secretario,Avestruces
2,41,81,Peces sapo,Mariposa blanquita de la col,Gallina,Bonobo,Nilgó,Tucanes,Cobayo,Tiburón peregrino,Cangrejo
3,56,47,Patos,Ciempiés,Pingüino,Mosca de la fruta,Cebú,Gaviotas,Burro,Cuervo,Grulla
4,87,28,Ranas de Darwin,Avispas alfareras,Paloma,Lirón,Ciervo de los pantanos,Águilas,Burro,Buitre negro,Pez globo

In [10]:
pd.merge_ordered(df2, df3, on=['Id','Lider'])

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,Aves,Herbívoros,Carnívoros,Omnívoros
0,1,1,NaN,NaN,NaN,NaN,NaN,Cóndores,Rinoceronte,Secretario,Mapache
1,1,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña,NaN,NaN,NaN,NaN
2,2,35,NaN,NaN,NaN,NaN,NaN,Guacamayas,Oveja,Pitón,Gatos
3,2,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico,NaN,NaN,NaN,NaN
4,3,1,NaN,NaN,NaN,NaN,NaN,Águilas,Oveja,Narval,Emú
...,...,...,...,...,...,...,...,...,...,...,...
190,98,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete,NaN,NaN,NaN,NaN
191,99,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua,NaN,NaN,NaN,NaN
192,99,41,NaN,NaN,NaN,NaN,NaN,Avestruces,Oveja,Visón europeo,Avispa
193,100,10,NaN,NaN,NaN,NaN,NaN,Pájaros carpinteros,Tortuga,Gato montés,Cerdo
194,100,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial,NaN,NaN,NaN,NaN

In [11]:
pd.merge(df2.drop_duplicates(), df3.drop_duplicates(), on=['Id','Lider'], how='left', indicator=False)

,Id,Lider,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,Aves,Herbívoros,Carnívoros,Omnívoros
0,1,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña,NaN,NaN,NaN,NaN
1,2,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico,NaN,NaN,NaN,NaN
2,3,51,Peces sapo,Moscardones,Pato,Ardilla,Bisonte europeo,NaN,NaN,NaN,NaN
3,4,82,Hienas,Cigarra o chicharra,Codorniz,Gorila,Bisonte estepario,NaN,NaN,NaN,NaN
4,5,97,Dragones de Komodo,Mariposa nacarada,Cóndor,Mono aullador,Íbice de los Alpes,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,96,43,Canarios,Avispas alfareras,Paloma,Zorro volador,Nilgó,NaN,NaN,NaN,NaN
96,97,50,Los tiburones ballena,Caballito del diablo,Pato,Lémur,Bisonte americano,NaN,NaN,NaN,NaN
97,98,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete,NaN,NaN,NaN,NaN
98,99,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua,NaN,NaN,NaN,NaN
99,100,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial,NaN,NaN,NaN,NaN

# <center>**LEFT** JOIN</center>

In [ ]:
join_dataframe(df1, df3, llaves_para_join = ['Id'], tipo_de_join='LEFT')

# <center>**RIGHT** JOIN</center>

In [12]:
join_dataframe(df1, df3, llaves_para_join = ['Id'], tipo_de_join='RIGHT')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['Id'], how='right', indicator=False)

,index,Id,Lider_x,Mamíferos,Reptiles,Peces,Anfibios,Aves_x,Lider_y,Aves_y,Herbívoros,Carnívoros,Omnívoros
0,99,100,44,Orcas,Boas constrictoras,Celacantos (extintos),Ranas de Seychelles,Cuervos,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo
1,98,99,61,Seres humanos,Lagartos voladores australianos,Los tiburones ballena,Ranas venenosas,Águilas,41,Avestruces,Oveja,Visón europeo,Avispa
2,97,98,69,Ovejas,Tortugas galápagos,Koi japoneses,Sapos gigantes,Gaviotas,30,Loros,Alpaca,Muskallonga americano,Seres humanos
3,96,97,50,Leones,Dinosaurios (extintos),Los tiburones ballena,Ranas arborícolas,Pájaros carpinteros,29,Guacamayas,Vaca,Aguila arpía,Corydora
4,95,96,97,Perros,Basiliscos,Peces luna,Gallipatos,Patos,93,Pavorreales,Burro,Halcón,Perezoso
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,5,47,Chimpancés,Aligátores,Los tiburones ballena,Sapos comunes,Pavorreales,45,Águilas,Ardilla,Guepardo,Mofeta
96,3,4,101,Ratones,Varanos,Lenguados,Necturos,Canarios,47,Águilas,Cebra,Pingüino,Jerbo
97,2,3,17,Rinocerontes,Tortugas galápagos,Celacantos (extintos),Proteos,Cigüeñas,1,Águilas,Oveja,Narval,Emú
98,1,2,45,Cabras,Tortugas galápagos,Peces globo,Sapos de caña venenosos,Cuervos,35,Guacamayas,Oveja,Pitón,Gatos
99,0,1,19,Ballenas,Lagartos voladores australianos,Peces espada,Necturos,Pavorreales,1,Cóndores,Rinoceronte,Secretario,Mapache

# <center>**OUTER** JOIN</center>

In [13]:
join_dataframe(df3,df2, llaves_para_join = ['Id'], tipo_de_join='OUTER', mostrar_tipo_join=True)

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), on=['Id'], how='outer', indicator=True)

,index,Id,Lider_x,Aves,Herbívoros,Carnívoros,Omnívoros,Lider_y,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes,_merge
0,99,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial,both
1,98,99,41,Avestruces,Oveja,Visón europeo,Avispa,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua,both
2,97,98,30,Loros,Alpaca,Muskallonga americano,Seres humanos,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete,both
3,96,97,29,Guacamayas,Vaca,Aguila arpía,Corydora,50,Los tiburones ballena,Caballito del diablo,Pato,Lémur,Bisonte americano,both
4,95,96,93,Pavorreales,Burro,Halcón,Perezoso,43,Canarios,Avispas alfareras,Paloma,Zorro volador,Nilgó,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,5,45,Águilas,Ardilla,Guepardo,Mofeta,97,Dragones de Komodo,Mariposa nacarada,Cóndor,Mono aullador,Íbice de los Alpes,both
96,3,4,47,Águilas,Cebra,Pingüino,Jerbo,82,Hienas,Cigarra o chicharra,Codorniz,Gorila,Bisonte estepario,both
97,2,3,1,Águilas,Oveja,Narval,Emú,51,Peces sapo,Moscardones,Pato,Ardilla,Bisonte europeo,both
98,1,2,35,Guacamayas,Oveja,Pitón,Gatos,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico,both
99,0,1,1,Cóndores,Rinoceronte,Secretario,Mapache,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña,both

# <center>**CROSS** JOIN</center>

In [14]:
join_dataframe(df3,df2, 'Id', tipo_de_join='CROSS')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how='cross')

,Id_x,Lider_x,Aves,Herbívoros,Carnívoros,Omnívoros,Id_y,Lider_y,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,1,1,Cóndores,Rinoceronte,Secretario,Mapache,1,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña
1,1,1,Cóndores,Rinoceronte,Secretario,Mapache,2,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico
2,1,1,Cóndores,Rinoceronte,Secretario,Mapache,3,51,Peces sapo,Moscardones,Pato,Ardilla,Bisonte europeo
3,1,1,Cóndores,Rinoceronte,Secretario,Mapache,4,82,Hienas,Cigarra o chicharra,Codorniz,Gorila,Bisonte estepario
4,1,1,Cóndores,Rinoceronte,Secretario,Mapache,5,97,Dragones de Komodo,Mariposa nacarada,Cóndor,Mono aullador,Íbice de los Alpes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo,96,43,Canarios,Avispas alfareras,Paloma,Zorro volador,Nilgó
9996,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo,97,50,Los tiburones ballena,Caballito del diablo,Pato,Lémur,Bisonte americano
9997,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo,98,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete
9998,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo,99,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua
9999,100,10,Pájaros carpinteros,Tortuga,Gato montés,Cerdo,100,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial

# <center>**INDEX** JOIN</center>

In [15]:
join_dataframe(df1, df2, tipo_de_join='INDEX')

pd.merge(primer_dataframe.drop_duplicates(), segundo_dataframe.drop_duplicates(), how='index')

,Id_x,Lider_x,Mamíferos,Reptiles,Peces,Anfibios,Aves,Id_y,Lider_y,Vertebrados,Invertebrados,Ovíparos,Frugívoros,Rumiantes
0,1,19,Ballenas,Lagartos voladores australianos,Peces espada,Necturos,Pavorreales,1,19,Pájaros carpinteros,Medusas,Codorniz,Zorro volador,Vicuña
1,2,45,Cabras,Tortugas galápagos,Peces globo,Sapos de caña venenosos,Cuervos,2,51,Chimpancés,Ácaros,Salmón,Perico,Antílope jeroglífico
2,3,17,Rinocerontes,Tortugas galápagos,Celacantos (extintos),Proteos,Cigüeñas,3,51,Peces sapo,Moscardones,Pato,Ardilla,Bisonte europeo
3,4,101,Ratones,Varanos,Lenguados,Necturos,Canarios,4,82,Hienas,Cigarra o chicharra,Codorniz,Gorila,Bisonte estepario
4,5,47,Chimpancés,Aligátores,Los tiburones ballena,Sapos comunes,Pavorreales,5,97,Dragones de Komodo,Mariposa nacarada,Cóndor,Mono aullador,Íbice de los Alpes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,97,Perros,Basiliscos,Peces luna,Gallipatos,Patos,96,43,Canarios,Avispas alfareras,Paloma,Zorro volador,Nilgó
96,97,50,Leones,Dinosaurios (extintos),Los tiburones ballena,Ranas arborícolas,Pájaros carpinteros,97,50,Los tiburones ballena,Caballito del diablo,Pato,Lémur,Bisonte americano
97,98,69,Ovejas,Tortugas galápagos,Koi japoneses,Sapos gigantes,Gaviotas,98,54,Pterosaurios (extintos),Ciempiés,Abeja,Mono aullador,Ciervo de copete
98,99,61,Seres humanos,Lagartos voladores australianos,Los tiburones ballena,Ranas venenosas,Águilas,99,32,Iguanas,Milpiés,Loro,Gorila,Búfalo de agua
99,100,44,Orcas,Boas constrictoras,Celacantos (extintos),Ranas de Seychelles,Cuervos,100,18,Sapos de caña venenosos,Abeja de la miel,Avestruz,Murciélago frugívoro,Urial

# GRAFICOS

In [ ]:
#!pip install plotly
#!pip install seaborn

import pandas as pd
#pd.options.plotting.backend = "plotly"

In [ ]:
import seaborn as sns
df = sns.load_dataset('tips')
df

In [ ]:
df[['total_bill', 'tip', 'size']].plot(kind='line')

In [ ]:
df.plot(kind='scatter', x='total_bill', y='tip')

In [ ]:
df['day'].value_counts().plot(kind='bar')

In [ ]:
df[['total_bill', 'tip']].plot(kind='hist')

In [ ]:
df[['total_bill', 'tip']].plot(kind='box')

In [ ]:
df[['total_bill', 'tip']].plot(kind='area')

In [ ]:
df.groupby('day')['day', 'total_bill'].sum().reset_index().plot(kind='pie', x='day', y='total_bill');

In [ ]:
df['day'].value_counts().plot_bokeh(kind='bar', alpha=0.7);

In [ ]:
df['total_bill'].plot_bokeh(kind='hist', bins=10, alpha=0.7);

In [ ]:
df[['total_bill', 'tip']].plot_bokeh(kind='area', alpha=0.6);

In [ ]:
import plotly.tools as tls
tls.embed('https://plotly.com/~chris/7365')